language:
    - php
php:
  - 5.6.4

 # before_install:
 #   - rm -rf ~/.gnupg
#   - sudo apt-get install xvfb

# cache:
#   paths:
#   - vendor/
# before_install:
#   - rm -rf ~/.gnupg

before_script:
  ## PHP_CodeSniffer
  # - pear install pear/PHP_CodeSniffer
  # - git clone git://github.com/wimg/PHPCompatibility.git $(pear config-get php_dir)/PHP/CodeSniffer/Standards/PHPCompatibility
  # - phpenv rehash
  # - phpcs -i
  # - phpenv rehash
  # - phpcs --config-set error_severity 1
  # - phpcs --config-set warning_severity 0
  # Install git and unzip (composer will need them)
  # - apt-get update && apt-get install -qqy git unzip
  # Install composer
  # - sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer

  - export PLUGIN_DIR=$(pwd)
  - ls -l
  - sudo rm -rf /etc/mysql/
  - sudo apt-get -qq purge mysql* graphviz*
  - sudo apt-get -qq autoremove
  - sudo apt-get update
   # - sudo bash -c 'echo -e "[user]\n\tname = abc\n\temail = root@localhost.com" > /home/travis/.gitconfig'
  - sudo wget -qO ee rt.cx/ee && sudo bash ee
  - source /etc/bash_completion.d/ee_auto.rc
  - sudo ee -v

  # - sudo rm -rf /var/lib/apt/lists/*
  # - sudo apt-get clean && sudo apt-get clean all && sudo apt-get update
  # - sudo ee -v

  # - sudo gpg --keyserver "hkp://pgp.mit.edu" --recv-keys '3050AC3CD2AE6F03'
  # - sudo gpg -a --export --armor '3050AC3CD2AE6F03' | sudo apt-key add -
  # - pwd

  - sudo ee site create rtmedia.localtest.me --wp --user=ADMINUSER --email=krupa.nanda@rtcamp.com --pass=ADMINPASS
  - sudo chmod 777 -R /var/www
   - sudo cat /etc/mysql/conf.d/my.cnf
  # - sudo cat ~/.my.cnf
  - sudo nginx -t
  - sudo service nginx reload
  - cd /var/www/wp.localtest.me/htdocs/wp-content/plugins/ && ls
  - mkdir rtMedia
  - cd $PLUGIN_DIR
  - cp -Rf * /var/www/wp.localtest.me/htdocs/wp-content/plugins/rtMedia/
  - cd /var/www/rtmedia.localtest.me/htdocs/
  - wp --allow-root plugin install https://downloads.wordpress.org/plugin/buddypress.2.8.2.zip
  - wp --allow-root plugin install https://downloads.wordpress.org/plugin/buddypress-media.4.3.1.zip
  - wp plugin activate --all
  - cd $PLUGIN_DIR
  - cd tests/codeception/tests/_data
  - git clone --depth=1 https://github.com/rtCamp/rtmedia-test-data.git test-data

  # Navigate to codeception directory
  - cd $PLUGIN_DIR/tests/codeception/

  # Install all project dependencies
  - composer install
  - export PATH="$PATH:/home/travis/build/kjnanda/rtMedia/tests/codeception/vendor/bin"


# install:
# #install codeception for wordpress
# - composer require lucatume/wp-browser --dev


script:
  ## PHP_CodeSniffer
  # - phpcs --standard=PHPCompatibility --runtime-set testVersion 5.3-5.5 $(find ./ -name '*.php')
  # - if find . -name "*.php" ! -path "./node_modules/*" -exec php -l {} 2>&1 \; | grep "syntax error, unexpected"; then exit 1; fi
  # Run codeception test
  - wpcept run acceptance
# notifications:
#   slack:
#     secure: E9tbxOZ/n4Gcwi8SiCKQ5QVw+5AfwdTq4e/VG4epQF74IqXmJJvaJgQSVKLSVXJm4O1u8JHd+ffN1Xheh1FDaKkscuJYQcT4D+oOc40bHhb0tS71v1fAMzMX7NuyqgEu2a8dbYo7bqVKtdj/EBbOPWnwgfMuA6ylTItVf294spA=
