dist: trusty

language:
    - php

branches:
  only:
    - codeception
php:
    - 5.6.4
#    - 7.0
#env:
#global:
# - secure: fZcpoYDDuiP452eiP4N2vf4iZo52btYsH4waBb8Pd0+hCZuQkqbcFPsTBQEZhS5LwFrQd59GEbDjCXP/Nac8uk+EdBRtuQPmRcSza1ukS0JDs3m++SXE+75Qkh+jlsGU9jyBiiDrYJv6u6uJzO5oTv9XuKQWo9lH9RR3P1YkTcrxEeXAKAEIxgCkjuxBqxrryADy2LTDkf8zDJCxZlME6xUO+sKly4LmkqCcTXpjbL1d78T0WKmcG0gDkykcHSJeqQOg4ugIblvdoBZTJJOMvt8rKuhJbVYfRvZJBZg7eo3zUT5hxbbBVOtn03ffPp1XHLUNGQC1cDJ/MXGhrT6Q+dV0VXYtkpniXTN13OVIhwYGTbh5BVA3dI9iUdALpucPR5QMaVmfewq+nCZwPqL5dgJghcq1JdsLRNa6s+d9GJ9ftCBl2LfsgueoxbgVEG5oobj3TCtf60cuMVoefJGLQclJ8+pymnbqn4UHGx9kjbcirq1qSf1dkATKtZsbKcKn3bcgx9nilvA2/4x4HJ2sAQIH/+uJHKNj6MkUR+IC19ml68C2Fj6uh7l1yzhvk+fBHJFEiTtcWp9UqChpLOsEcxUMXRnqHWkPpBVePRSdj17pYreXP9uUHT0yBg96jP9hn+a1vn+cp6PCXq1cUcJaBWk06mZWFr3WSc4WbuCYCsc=
addons:
  browserstack:
    username: rtcamp2
    access_key:
     secure: T505OAjz+XN2yjCFipX9Mq+2tVAli8THWxtl0iYNnFl6zfHxcngK2xoAxUCt+9Lx5ncMNl4O7VCQW1Df8Eb/NSL04QaOCJMOvRj8wQHGEeqxbp0QmKLxCxrhQcqQLcMJhSQqO2zUb+FbuMwdXO8jxyCY49GLdjd5R7zYhXOjfnursge1pkw+uyXWtZufsDKTZ9UPdo5v6jXNibEVVsn86mUYDv5uuUej1qo8ioyEGfdnSXKmMwTXRqxkb+xbj0TwY+jffeFQv6h3zaT0YOMDNVD9UHJvAd9bRLc1NTbnVvNUa6/9N9HyNFBXGeIp7xy8CQDwprnDiIpix1G0o6wjIS6NndROOzU9bN/pbILXJPenviYneGjoN1ZrPp3zbtb0P0BvpxJuiQ2tL5dAnrG/GEDKun9J9mDWKncoBONM6KyhfIGwO1K6anPQqTbZplKcRJ1pUnyUH3gYxHg4exlkORclNXPyuST8RCJt++DiKdZCpcgQHwvTBX/vQKSh6XXCG0pMYN1JGUQdVWuaTgA6vPLBOHlDE7wvuWrnb0AaUP4Pfof2ApBq+ao+Fy/JccWIpcqcK2UIoNZ/LoWG/4JbkLLVoGRpDSUdKz9k5nJztAwzaXxWf9wzwFyQMne6H5Yf4RyHHZ6yJ9VskwYukbtw6qfq5pyKgyjX7qkeLkXRi08=

before_install:
- rm -rf ~/.gnupg


cache:
  paths:
  - vendor/

before_script:
- export PLUGIN_DIR=$(pwd)
- sudo rm -rf /etc/mysql/
- sudo apt-get -qq purge mysql* graphviz* && sudo apt-get -qq autoremove
- sudo bash -c 'echo -e "[user]\n\tname = abc\n\temail = root@localhost.com" > /home/travis/.gitconfig'
- wget -qO ee rt.cx/ee && sudo bash ee
- sudo apt-get update
- sudo tail /var/log/ee/ee.log
- sudo ee site create sumeet.rtmedia.me --wp --user=ADMINUSER --email=sumeet.sarna@rtcamp.com --pass=ADMINPASS
- sudo sed -i '/^127.0.0.1/ s/$/ sumeet.rtmedia.me/' /etc/hosts
- sudo chmod 777 -R /var/www
- cd /var/www/sumeet.rtmedia.me/htdocs/wp-content/plugins/ && mkdir rtMedia
- cd $PLUGIN_DIR
- cp -Rf * /var/www/sumeet.rtmedia.me/htdocs/wp-content/plugins/rtMedia/
- cd /var/www/sumeet.rtmedia.me/htdocs/
- wp --allow-root plugin install https://downloads.wordpress.org/plugin/buddypress.2.8.2.zip
- wp plugin activate --all
- cd /var/www/sumeet.rtmedia.me/htdocs/wp-content/themes/
- wp theme activate twentysixteen
- cd $PLUGIN_DIR
- cd tests/codeception/tests/_data
- git clone --depth=1 https://github.com/rtCamp/rtmedia-test-data.git test-data
- cd /tmp
- wget http://www.browserstack.com/browserstack-local/BrowserStackLocal-linux-x64.zip
- unzip BrowserStackLocal-linux-x64.zip
- nohup ./BrowserStackLocal --key $BROWSERSTACK_ACCESS_KEY &
- cd $PLUGIN_DIR/tests/codeception/
- composer update
- export PATH="$PATH:/home/travis/build/sumeetsarna/rtMedia/tests/codeception/vendor/bin"

script:

#- wpcept run tests/acceptance/core-rtMedia-settings/01-Types/01-Negative/
#- wpcept run tests/acceptance/core-rtMedia-settings/01-Types/02-Positive/EnableVideoMediaTypesCept.php
#- wpcept run tests/acceptance/core-rtMedia-settings/01-Types/02-Positive/EnablePhotoMediaTypesCept.php
#- wpcept run tests/acceptance/core-rtMedia-settings/01-Types/02-Positive/EnableMusicMediaTypesCept.php
#- wpcept run tests/acceptance/core-rtMedia-settings/01-Types/02-Positive/
#- wpcept run tests/acceptance/core-rtMedia-settings/02-Display/01-Positive/
#- wpcept run tests/acceptance/core-rtMedia-settings/02-Display/02-Negative/
#- wpcept run tests/acceptance/core-rtMedia-settings/03-Buddypress/01-Positive/
#- wpcept run tests/acceptance/core-rtMedia-settings/03-Buddypress/02-Negative/
#- wpcept run tests/acceptance/core-rtMedia-settings/04-MediaSizes/01-Postive/
#- wpcept run tests/acceptance/core-rtMedia-settings/04-MediaSizes/02-Negative/
- wpcept run tests/acceptance/core-rtMedia-settings/05-Privacy/01-Positive/ --steps
- wpcept run tests/acceptance/core-rtMedia-settings/05-Privacy/02-Negative/ --steps
#- wpcept run tests/acceptance/core-rtMedia-settings/06-CustomCss/01-Positive/
#- wpcept run tests/acceptance/core-rtMedia-settings/06-CustomCss/02-Negative/
#- wpcept run tests/acceptance/core-rtMedia-settings/07-OtherSettings/01-Positive/
#- wpcept run tests/acceptance/core-rtMedia-settings/07-OtherSettings/02-Negative/

