.rt-media-container{
    @import "compass/reset";
    @import "foundation/components/global"; // *always required
    @import "foundation/components/grid";
    @import "foundation/components/visibility";
    @import "foundation/components/block-grid";

    padding:5px;
    clear: left;

    
        .drag-drop{
            border: 4px dashed #DDD;
            text-align: center;
            background: #fafafa;
            overflow: hidden;
            padding: 15px 0;
            &.dragover{
                border-color: #83b4d8;
            }
        }
    

	.rt-media-list {
		list-style: none;
		//margin: 1% 1%;
	}

	.rt-media-list-item {
	//  display: inline-block;
	//  margin: 3% 3% 0;
	  word-wrap: break-word;
	}

	.rt-media-media img {
		max-width: 100%;
	}

	.rt-media-item-thumbnail img {
		max-width: 100%;
	}

	.rt-media-item-comments {
		margin: 3% 3%;
	}

	.rt-media-comment {
		list-style: none;
		background: #f6f6f6;
		border: 1px solid #ddd;
		-moz-border-radius: 3px;
		border-radius: 3px;
		margin: 3% 0;
		padding: 1% 4% 8%;
		position: relative;
		width: 330px;
	}

	.rt-media-comment-date {
		float: right;
	}

	.rt-media-bp-header {
		width: 460px;
		margin: auto;
	}

        #div-attache-rtmedia{
            display:none;
        }
        #rtMedia-update-queue-list{
            p{
                span{
                    margin-right:20px;
                }
            }
        }
        .rt-media-move-container {
            display: none;
        }
        #rt-media-add-media-button-post-update{
                    float: left;
                    margin-top: 10px;
                    margin-right: 20px;
        }
        #whats-new-post-in-box{
            float:left;
        }
        .rt-media-activity-text{
            display:block;
            padding-bottom:10px;
        }
        .rt-media-merge-container{
            display: none;
        }
}
   