#bp-media-settings-boxes{
   // @import "foundation/components/global"; // *always required    
   @import "bower_components/foundation/scss/foundation/components/global"; // *always required
    //@import "foundation/components/section";
    @import "bower_components/foundation/scss/foundation/components/grid";
    @import "bower_components/foundation/scss/foundation/components/tabs";
    margin: 0;    
	.has-switch { 
		border-radius: 0
	}
	.has-switch label { 
		padding: 6px; 
		border-radius: 0; 
	}
	.has-switch span.switch-left { 
		border-radius: 0; 
	}
	.has-switch span.switch-right { 
		border-radius: 0; 
	}
	.rtmedia-setting-text-box {
		width: 55px;
		text-align: right;
	}
	.rtmedia-setting-select-box {
		width: auto;		
	}
        #rtm-settings-tabs .horizontal-tabs {
            dd {
                border : 1px solid #c1c1c1;
                border-right: none;
                
                &:last-child{
                    border-right: 1px solid #c1c1c1;
                }
                &.active{
                    border-bottom-color: #fff;
                }
/*                &:not(:first-child).active{
                    border-left: 1px solid #c1c1c1;
                }*/
            }
            .tabs-content {
                border: 1px solid #c1c1c1;
            }
        }
        
        .tabs dd {
            margin-left :0;
                a {
                padding : 12px;
                font-size : 13px;
                text-decoration: none;
            }
        }
        .tabs.vertical {
            margin-top :0;
            width : 22%;
            border-right : 1px solid #c1c1c1;
            dd {
                border-bottom: 1px solid #c1c1c1;
                &.active a{
                    background: #D5D5D5;
                }
            }
        }
        .rtm-settings-tab-container.rtmedia-pro {
            border: 1px solid #c1c1c1;
        }
        #rtm-settings-tabs .tabs-content {
            background: #fff;
            padding : 10px;
            
            &.tabs-content.vertical {
                width : 78%;
                margin :0;
            }
            .content {
                background: #fff;
                float: none;
            }
        }
	.section-container {
		section {
				.title {
					a {
						font-size: 13px;						
						text-decoration: none;
						font-weight: bold;
						color: #555;
						&:hover {							
							color: #000;
						}
					}
				}
		}		
		section.active {
			.title {
				a {
					color: #000;
				}
			}
		}		
	}
	.rtmedia-size-content-setting {
			.rt-form-dimension  {
				input[type="text"] {
					margin-left: 13%;
				}
				span {
					margin-left: 14%;
				}
			}
		}
	.section-container.vertical-tabs, .section-container.auto {
		section {
				.title {
					a {
						font-size: 13px;						
					}
				}
		}
		section.active {
				.title {
					a {
						color: #000;
					}
				}	
		}
	}
    .global-album-settings {
            .default-global-albums {
            	padding: 5px 0;             
                overflow: hidden;
                &:hover {
                	background-color: #EEE;
                }
            }
    }
    fieldset {
		border: solid 1px #dddddd;
		padding: 10px;
		margin-bottom: 10px;
		legend {
			font-weight: bold;
		}
	}
}

