/* 
    Document   : media-admin
    Created on : 26 May, 2010, 3:32:46 PM
    Author     : ashishanand
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.tablenav select[name="filter-date"],.tablenav select[name="user-to-reassign"],.tablenav select[name="type-to-reassign"] {
width:155px;
}

.tablenav select[name="filter-user"] {
width:155px;
}

.tablenav select[name="filter-type"] {
width:155px;
}
span.rt-buddypress-admin-media-head {
	font-weight: bold;
	border-top: 1px solid gray;
	padding-top: 3px;
}
span.rt-buddypress-admin-media {
	padding-left: 10px;
}

/* Content */
/*div.buddypress-links-admin-content ul {
	list-style: disc outside none;
	margin-left: 24px;
}
*/

