/* 
    Document   : widget.css
    Created on : 16 Apr, 2010, 11:58:06 AM
    Author     : ashishanand
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.widget-thumbnail{height:45px;width:45px;border: 4px solid #eee;padding:2px}
#media-container {
	width:185px;
        
}
.tabs {
	width:50px;
        float:left;
	margin-right:-3px;
	padding:2px;
	text-align:center;
	
	cursor:pointer;
	border:1px solid #ccc;
	border-bottom:0;
        margin-left:4px;
}
#media-content {
	height:auto;
	clear:both;
        padding:2px;
	border:1px solid #ccc;
}
#media-load {
	position:relative;
	left:0;
	top:0;
	width:80px;
        padding: 2px;
	height:20px;
	background-color:red;
	color:white;
	visibility: hidden;
}

.active{
    background: #eee;
}