.rtmedia-activity-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	* {
		&,
		&:before,
		&:after {
			-webkit-box-sizing: inherit;
			-moz-box-sizing: inherit;
			box-sizing: inherit;
		}
	}

	.rtmedia-list.masonry {
		list-style:none;
		padding: 0;
	}

	.rtmedia-list.masonry p {
		display: none;
	}

	.rtmedia-list.masonry:after {
		content: '';
		display: block;
		clear: both;
	}

	.rtmedia-list-item.masonry-brick {
		display: inline-block;
		float: left;
		width: 32%;
		padding: 0 !important;

		.mejs-container {
			min-width: 33% !important;
			margin: 0 0 5px 0;
			width: 100% !important;

			.mejs-controls {
				width: 100%;

				.mejs-time-total {
					display: none;
				}

				.mejs-horizontal-volume-slider {
					width: 20%;
					padding-left: 5px;

					.mejs-horizontal-volume-total {
						width: 100%;
					}

					.mejs-time-loaded {
						display: none;
					}
				}
			}
		}
	}

	.rtmedia-list-item.masonry-brick img {
		display: block;
		max-width: 100%;
	}

	.rtmedia-list-item.masonry-brick .rtmedia-item-title {
		display:none;
	}

}

// remove border and padding
#buddypress ul.rtmedia-list li {
	border-bottom: 0;
	padding-bottom: 0;
}

// hide unnecessory div
.rtmedia-activity-container {
	.rtmedia-item-actions {
		display: none;
	}

	.rtmedia-item-title {
		&, a {
			border: 0;
			color: $gray;
			font-size: 13px;
			margin: 5px 0 0;
			overflow: hidden;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// Uploader Button
#rtmedia-whts-new-upload-container div {
	left: 0 !important;
	position: absolute;
	top: 0 !important;
}

#aw-whats-new-submit,
.rtmedia-add-media-button {
	display: block;

	// Remove extra space
}

.rtm-drag-drop-active {
	border: 4px dashed green !important;
	display: block;
	height: 100%;
	opacity: 0.5;
	z-index: 9999;
}

#rtm-drop-files-title {
	background: rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 14px;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 100%;
}

#rtSelectPrivacy {
	float: right;
}

form.rt_media_comment_form .rtmedia-plupload-container {
	overflow: hidden;
}

.rtmedia-plupload-container {
	position: relative;
	float: left;
}

.rtm-upload-button-wrapper {
	float: left;
	margin-right: 5px;
}

#rtmedia-action-update {
	margin-right: 10px;
}

// Video/Music title make center align
.rtmedia-list-item {
	&.media-type-photo,
	&.media-type-document,
	&.media-type-music,
	&.media-type-video {
		display: inline-block;
	}
}

.media-type-music {
	.mejs-container {
		margin-bottom: 10px;
	}
}

.previous-pagination {
	float: left;
	margin-top: 10px;
}

.next-pagination {
	float: right;
	margin-top: 10px;
}

@media screen and (max-width: 500px) {
	#activity-stream li .media-type-video {
		width: 100%;

		.mejs-video {
			max-width: 100%;
			min-width: 100%;
		}
	}
}

#rtmedia_show_all_comment {
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

#whats-new-options {
	opacity: 0;
	display: none;

	.rtmedia-uploader-div {
		opacity: 0;
		display: none;
		visibility: hidden;
	}

}

.ac-form .rtmedia-uploader-div, .rt_media_comment_form .rtmedia-uploader-div {
  opacity: 1;
  display: block;
  visibility: visible;

}

#whats-new-options {
	opacity: 0;
	display: none;
}

a.rtmedia-comment-link{
	display: none;
}

a.rtmedia-comment-link.rtmedia-comments-link{
	display: initial;
}
