// BuddyPress Overwites

#buddypress form#whats-new-form textarea {
	min-height: 70px;
	width: 100%;
}

#buddypress #whats-new-options {
    height: auto !important;
    overflow: hidden;
}

#buddypress form#whats-new-form #whats-new-options select {
    border: 1px solid #ccc;
    font-size: 13px;
    margin-top: 0;
	padding: 4px 2px;
}

#whats-new-post-in-box {
	float: left;
	font-size: 13px;
}

#buddypress form#whats-new-form #whats-new-submit {
	margin-top: 0;
}

#whats-new-textarea {
	margin-bottom: 10px;
}