#buddypress {

	#item-body {
		padding: 0 0 20px 20px;
	}

	.mejs-controls {

		button {
			padding: 4px 8px;
			border: none;
			background: rgba(0, 0, 0, 0) url('../../../lib/media-element/mejs-controls.png') no-repeat;
		}

		.mejs-play > button {
                    background-position: 0 0;
		}

		.mejs-pause > button {
                    background-position: -20px 0;
		}

		.mejs-unmute > button {
                    background-position: -40px 0;
		}

		.mejs-mute > button {
                    background-position: -60px 0;
		}

		.mejs-fullscreen-button > button {
                    background-position: -80px 0;
		}

		.mejs-unfullscreen > button {
                    background-position: -100px 0;
		}

                .mejs-replay > button {
                    background-position: -160px 0;
                }
	}
}

.mejs-container .mejs-controls .mejs-time {
	padding: 15px 3px 0;content: '';
}

.rtmedia-activity-container, .rtmedia-media {
	.mejs-playpause-button.mejs-play, .mejs-playpause-button.mejs-pause, .mejs-volume-button.mejs-mute, .mejs-fullscreen-button{
		button {
			&:before {
				content: '';
			}
		}
	}
}