.rtm-media-gallery-uploader {
	display: none;
}

.drag-drop {
	border: 4px dashed #DDD;
	text-align: center;
	background: #fafafa;
	overflow: hidden;
	color: #AAAAAA;
	padding: 25px 0;

	&.dragover {
		border-color: #83b4d8;
	}

	.drag-drop-info {
		font-size: 20px;
		line-height: 24px;
	}

	.rtm-album-privacy span {
		margin: 0 20px 20px 20px;
		display: inline-block;
	}

	.rtm-select-files {
		span {
			vertical-align: middle;
		}
	}

	.rtm-seperator {
		margin: 0px 20px;
	}

	.start-media-upload {
		display: none;
		margin-top: 20px;
	}

	.rtm-file-size-limit {
		vertical-align: middle;
		font-size: 16px;
		line-height: 24px;
	}
}