.rtm-media-message {
    display: flex;
    flex-wrap: wrap;

    img{
      width: calc( 92% / 4 );
      height: 100px;
      margin: 5px;
    }

  @media screen and ( max-width: 550px ) {

    img{
      width: calc( 92% / 2 );
      margin: 5px;
    }
  }

}