// Additional Styles
.rtm-lightbox-container {
	background: $black;
	display: table;
	margin: 0 auto;
	position: relative;
}

.rtm-single-media {
	display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 66.6667%;
}

.rtm-single-meta {
	background: $white;
	display: table-cell;
	overflow: hidden;
    padding: 20px;
	position: relative;
	vertical-align: top;
	width: 33.3333%;
}

.rtm-ltb-action-container {
    background-color: rgba($black, 0.7);
	bottom: 0;
    color: $white;
	opacity: 0;
    padding: 0 10px;
    position: absolute;
    width: 100%;
}

.rtm-ltb-title {
	float: left;
	font-size: 13px;

	a {
		color: inherit;
	}
}

.rtm-author-actions {
	float: right;

	form {
		display: inline-block;
	}
}

.rtmedia-media {
	img {
		display: inline-block;
		max-height: inherit;
		width: auto;
	}
}