// Social Links
.rtm-social-links {

	a {
		display: inline-block;
		margin: 5px 0 5px 5px;
		text-decoration: none;
	}

}

// Go Pro button
.nav-tab.rtm-premium {
    background: #e74c3c;
    color: white;
    letter-spacing: 0.5px;
}

.rtm-setting-title {
	border-bottom: 1px solid $light;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 14px;
	display: none;

	&.rtm-show {
		display: block;
	}
}

.rtm-option-wrapper {
	margin-bottom: 40px;
	margin-top: 40px;

	&:last-child {
		margin-bottom: 20px;
	}

	.rtm-setting-title + & {
		margin-top: 0;
	}

	&:last-child {
		border-bottom: 0;
	}

	.form-table {
		clear: none;
	}

	.rtm-field-wrap {
		float: left;
	}

	.form-table {
		th {
			color: #444;
			font-size: 13px;
			font-weight: 400;
			padding: 5px 30px 5px 0;
			vertical-align: top;
			width: 50%;
		}

		td {
			font-size: 13px;
			padding: 0 0 5px;

			fieldset label {
				margin: 0 !important;
			}
		}
	}

	input[type="number"] {
		width: 82px;
	}

	.rt-form-radio {
		height: 28px;
		line-height: 24px;

		label {
			&:first-child {
				margin-right: 12px !important;
			}
		}
	}

	.dashicons-info {
		color: #aaa;
		font-size: 14px;
		height: 26px;
		line-height: 26px;
	}

	.rtm-debug-info {
		margin-top: 32px;

		tr {
			border-bottom: 1px solid $light;

			&:first-child {
				border-top: 1px solid $light;
			}

			&:nth-child(2n) {
				background-color: #f8f8f8;
			}
		}

		th {
			border-right: 1px solid $light;
			font-weight: 600;
			width: auto;
		}

		th,
		td {
			padding: 10px;
		}
	}
}

.rtm-tooltip {
	display: inline-block;
	margin-left: 5px;
}

.rtm-option-title {
	border-bottom: 1px solid $light;
    font-size: 14px;
    letter-spacing: 0.02rem;
    margin-bottom: 12px;
    margin-top: 0;
    padding: 0 0 6px;
    text-transform: uppercase;
}

.rtm-sidebar {
	.button {
		display: block;
		opacity: 0.8;
		position: relative;
		text-decoration: none;
	}
}

.rtm-social-share {

	.dashicons {
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 4px;
	}

	.twitter {
		.dashicons {
			color: #45b0e3;
		}
	}

	.facebook {
		.dashicons {
			color: #3b5998;
		}
	}


	.wordpress {
		.dashicons {
			color: #21759b;
		}
	}

	.rss {
		.dashicons {
			color: #FF6600;
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.rtm-notice {
	background: $light;
	color: #666;
	font-size: 12px;
    line-height: 1.6;
    margin-top: 10px;
    padding: 5px 10px;
}

.rtm-warning {
	background-color: #fcf8e3;
    border-bottom: 1px solid #e7e7e7;
    color: #c09853;
	margin-bottom: 30px;
    padding: 10px 15px;
}

// Types table needs different styles
#rtmedia-types {
	.form-table {
		th {
			line-height: 1.8;
			padding: 5px 0 20px;
			width: 33%;
		}

		td {
			padding: 0 0 12px;
		}
	}
}

#rtmedia-custom-css-settings {
	.form-table th {
		width: 40%;
	}

	.form-table:last-child .rtm-field-wrap {
		width: 92%;
	}

	textarea {
		height: 300px;
		width: 100%;
	}
}

.rtm-img-size-setting {
	.form-table {
		th {
			border-bottom: 1px solid $light;
			padding-bottom: 10px;
			padding-top: 10px;
			width: 20%;
		}

		tr:nth-child(2) {
			td {
				padding-top: 20px;
			}
		}

		tr:nth-child(4) {
			border-bottom: 1px solid $light;

			td {
				padding-bottom: 20px;
			}
		}

		tr:nth-child(5) {
			td {
				padding-top: 20px;
			}
		}

		tr:nth-child(6) {
			td {
				padding-bottom: 20px;
			}
		}

		tr:nth-child(7) {
			border-top: 1px solid $light;

			td {
				padding-top: 20px;
			}
		}

		tr:nth-last-child(2) {
			td {
				padding-bottom: 20px;
			}
		}


		tr:last-child {
			border-top: 1px solid $light;

			td {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}

		.rtm-row-title {
			font-weight: 600;
			padding-top: 25px !important;
			vertical-align: top;
		}
	}
}

#rtmedia-privacy {
	.rt-form-radio {
		font-size: 12px;

		strong {
			font-size: 13px;
		}
	}
}