// Social Links
.rtm-social-links {

	a {
		display: inline-block;
		margin: 5px 0 5px 5px;
		text-decoration: none;
	}

}

// Go Pro button
.nav-tab.rtm-premium {
    background: #e74c3c;
    color: white;
    letter-spacing: 0.5px;
}

.rtm-setting-title {
	border-bottom: 1px solid $border;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 25px;
}

.rtp-option-content {
	overflow: hidden;

	&:last-child {
		border-bottom: 0;
	}

	.form-table {
		th {
			font-size: 13px;
			font-weight: 400;
			line-height: 1.6;
			padding-right: 30px;
			width: 50%;

			span {
				color: #666;
				display: block;
				font-size: 12px;
				font-weight: 400;
				margin-top: 7px;
			}
		}
	}
}

.rtm-option-title {
	border-bottom: 1px solid $light;
    font-size: 14px;
    letter-spacing: 0.02rem;
    margin-bottom: 0;
    margin-top: 30px;
    padding: 0 0 10px;
    text-transform: uppercase;
}

.rtm-social-share {
	.button {
		display: block;
		opacity: 0.8;
		position: relative;
		text-decoration: none;
	}

	.dashicons {
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 4px;
	}

	.twitter {
		.dashicons {
			color: #45b0e3;
		}
	}

	.facebook {
		.dashicons {
			color: #3b5998;
		}
	}


	.wordpress {
		.dashicons {
			color: #21759b;
		}
	}

	.rss {
		.dashicons {
			color: #FF6600;
		}
	}


}