//
.rtm-support-container {
	min-height: 300px;
}

.rtm-support-form {

	.rtm-form-filed {
		margin: 15px 0;
	}

	label {
		float: left;
		width: 20%;
	}

	.bp-media-textarea {
		height: 80px;
	}

}

.rtm-button-wrapper {
	padding-left: 20%;
}