#rtmedia_dashboard_widget {

	.table {
		width: 45%;
	}

	table {
		margin-top: 5px;
		border-top-color: #ECECEC;
		border-top-width: 1px;
		border-top-style: solid;
		color: #21759b;
	}

	td {
		padding: 3px;
	}

	.table_content {
		float: left;
	}

	.table_discussion {
		float: right;
	}

	.b {
		padding-right: 6px;
		text-align: right;
		font-size: 18px;
		width: 1%;
	}

	.versions {
		clear: both;
	}
}