/* 
    Document   : bp-media-admin
    Created on : Jul 3, 2012, 11:39:03 AM
    Author     : rtCamp
    Description:
        Purpose of the stylesheet follows.
*/

#wpbody-content div.metabox-fixed{
	width: 22%;
	margin-right: 10px;
	clear: both;
}
#wpbody-content div.wrap.bp-media-admin{
	overflow: hidden;
	width: 76%;
}

#icon-bp-media{
	background:url('../img/logo_medibp_32.png') no-repeat scroll 0 0 transparent;
}