/* 
 *	Default stylesheet for BuddyPress Media Component
 */

.bp_media_content img{
	max-width:98%;
}
.bp_media_title {
	display:block;
	font-size:20px;
	font-weight:bold;
}
.bp_media_description {
	display:block;
}