/* 
 *	Default stylesheet for BuddyPress Media Component
*/

.bp_media_content img{
	max-width:98%;
}
.bp_media_title {
	display:block;
	font-size:20px;
	font-weight:bold;
}
.bp_media_description {
	display:block;
}

.bp-media-gallery {

}

.bp-media-gallery img{
	-moz-box-shadow: 0 0 5px #CCC;
	-webkit-box-shadow: 0 0 5px #CCC;
	box-shadow: 0 0 5px #CCC;
}

.bp-media-gallery li{
	float:left;
	margin:25px;
}

.bp-media-gallery li:nth-child(5n+1){
	margin-left:10px;
}

.bp-media-gallery h3{
	max-width:150px;
	overflow: hidden;
	text-align: center;
}
.bp-media-gallery a{
	display:block;
}