/*------ custom CSS ------*/
/* line 5, ../sass/admin.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 9, ../sass/admin.scss */
.pull-right {
  float: right;
}

/* line 13, ../sass/admin.scss */
.pull-left {
  float: left;
}

/* line 17, ../sass/admin.scss */
.inline {
  display: inline;
}

/* line 21, ../sass/admin.scss */
.entity {
  min-height: 25px !important;
}

/* line 25, ../sass/admin.scss */
.section {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* line 32, ../sass/admin.scss */
.rt-table div.rt-header {
  border-bottom-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 5px !important;
  padding-bottom: 5px !important;
}
/* line 39, ../sass/admin.scss */
.rt-table div.rt-header h4 {
  margin: 0;
}
/* line 44, ../sass/admin.scss */
.rt-table div.row {
  margin: 2px;
  padding: 2px;
}
/* line 48, ../sass/admin.scss */
.rt-table div.row.rt-odd {
  background-color: #F3F3F3;
}
/* line 52, ../sass/admin.scss */
.rt-table div.row.rt-even {
  background-color: #FFFFFF;
}

/* line 58, ../sass/admin.scss */
abbr {
  border-bottom: dotted 1px;
}

/* line 62, ../sass/admin.scss */
.rt-description {
  color: #666666;
  font-style: italic;
}

/* line 69, ../sass/admin.scss */
.bpm-wp-button .bpm-wp-icon {
  background-image: url(../img/wpmini-grey.png);
  width: 20px;
  height: 24px;
  font-size: 14px;
  background-repeat: no-repeat;
  padding: 0 6px;
}
