/*
Syntax error: File to import not found or unreadable: foundation/variables.
              Load paths:
                /home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass
                /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets
                /home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass/bower_components/foundation/scss
                Compass::SpriteImporter
        on line 48 of /home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass/main.scss

Backtrace:
/home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass/main.scss:48
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:86:in `rescue in invalid_import_parent?'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:80:in `invalid_import_parent?'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:144:in `try_send'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:39:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:29:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:36:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:24:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/root_node.rb:19:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/var/lib/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
/var/lib/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation/variables.\A               Load paths:\A                 /home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass\A                 /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 /home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass/bower_components/foundation/scss\A                 Compass::SpriteImporter\A         on line 48 of /home/pushpak/Documents/rtcamp-projects/rtMedia/app/assets/sass/main.scss"; }
