/*
 *	Default stylesheet for BuddyPress Media
*/
.bp_media_content img{max-width:98%;}
.bp_media_content .mejs-poster img{max-width: 100%;}
.bp_media_title {display:block;font-size:20px;font-weight:bold;}
ul.bp-media-gallery{overflow: hidden}
.bp_media_description {display:block;margin-top:20px;}
ul.bp-media-gallery.item-list{overflow:visible;margin: 1% 0;width: auto;}
#item-body ul.bp-media-gallery li{float: left;margin: 1% 1% 0;width: 18%;border-bottom: none;padding: 0;position: static;height:auto; display:block;}
ul.bp-media-gallery li img{max-width:150px;width:100%;height:auto;-moz-box-shadow: 1px 1px 10px #a0a0a0;-webkit-box-shadow: 1px 1px 10px #a0a0a0;box-shadow: 1px 1px 10px #a0a0a0;-moz-transition: box-shadow 0.2s linear;-webkit-transition: box-shadow 0.2s linear;transition: box-shadow 0.2s linear;}
ul.bp-media-gallery li img:hover{-moz-box-shadow: 1px 1px 10px #333;-webkit-box-shadow: 1px 1px 10px #333;box-shadow: 1px 1px 10px #333;}
ul.bp-media-gallery h3{max-width: 150px;overflow: hidden;text-align: center;font-size: 110%;white-space: nowrap;height: 20px;margin: 10px 0px;}
ul.bp-media-gallery a{width:150px;}
ul.bp-media-gallery li span img{height: 150px;}
.bp-media-single .activity-list .activity-content,.bp-media-single div.activity-comments{margin-left:0;}
#bp-media-selected-album{max-width: 320px;}
/*li.media div.activity-content div.activity-inner p{display:none;}*/
div.bp_media_title{margin-bottom:10px;}
#bp-media-footer {color: #4D4D4D;text-align: center;text-shadow: #FAFAFA 1px 1px 0;}
#wpbody-content div.metabox-fixed{width: 280px;margin-right: -300px;float: right;}
#wpbody-content div.wrap.bp-media-admin .columns-2{margin-right:300px;padding-top: 0;margin-top: 15px;width: 600px}
#wpbody-content .bp-media-settings-tabs{margin-bottom: 0; }
#wpbody-content .bp-media-settings-tabs .media-nav-tab{margin: 0 10px; text-decoration: underline; text-transform: capitalize}
#wpbody-content .bp-media-settings-tabs .media-nav-tab.media-nav-tab-active{font-weight: bold}

#wpbody-content .wrap  div.bp-media-metabox-holder{padding-top: 0}
.bp-media-social{background: url('../img/bp_media_social.png');height: 35px;width: 35px;display: inline-block;font-size: 0px;margin-right:5px;}
.bp-media-facebook{background-position: 0px 0px;}
.bp-media-facebook:hover{background-position: 0px 36px;}
.bp-media-twitter{background-position: 80px 0px;}
.bp-media-twitter:hover{background-position: 80px 36px;}
.bp-media-rss{background-position: 35px 0px;}
.bp-media-rss:hover{background-position: 35px 36px;}
/*#bp-media-upload-ui{position: relative;}*/
#item-body:after,ul.bp-media-gallery.item-list:after{content: " ";clear: both;display: block;text-indent: -9999em;}
#item-body{position: relative;}

.bp-media-area-allocate{height: 10px;width: 100%;display: block;}
li #bp-media-upload-ui {padding: 0;max-width: 158px;position: relative;}
#bp-media-upload-ui #drag-drop-area{border: 4px dashed #DDD;text-align: center;background: url('../img/drag-drop-bg.png') repeat scroll 0 0 transparent;overflow: hidden;padding: 15px 0;}
li #bp-media-upload-ui #drag-drop-area{max-width: 150px;min-height: auto;}
/*.albums li #bp-media-upload-ui #drag-drop-area{padding: 20px 0 10px;}*/
#bp-media-upload-ui .drag-drop-inside{float: left;width: 48%;}
.albums #bp-media-upload-ui .drag-drop-inside{float: none;width: auto;}
li #bp-media-upload-ui .drag-drop-inside,li #bp-media-upload-ui #bp-media-album-prompt{float: none;max-width: 100%;width: auto;}
li #bp-media-upload-ui #bp-media-album-prompt{margin: 8px auto 0;max-width: 144px;}
#bp-media-upload-ui #bp-media-album-prompt{float: right;margin: 12px auto 0;width: 47%;}
#bp-media-upload-ui .drag-drop-inside p.drag-drop-info{font-size: 20px;line-height: 100%;}
#bp-media-upload-ui .drag-drop-buttons input,#bp-media-album-prompt input.button{-moz-box-sizing: content-box;border-color: #BBBBBB;border-radius: 15px;border-style: solid;border-width: 1px;color: #464646;cursor: pointer;font-size: 13px !important;line-height: 13px;padding: 5px 10px;text-decoration: none;}
li #bp-media-album-prompt input.button{font-size: 12px !important;padding: 3px 8px;text-decoration: none;margin-top: 5px;}
#bp-media-selected-album{max-width: 140px;font-size: 14px;width: 100%;}
li #bp-media-album-prompt > p,li #bp-media-upload-ui #drag-drop-area p{display: none;}
.albums li #bp-media-album-prompt > p,.albums li #bp-media-upload-ui #drag-drop-area p{display: block;}
li #bp-media-upload-ui #drag-drop-area p.drag-drop-buttons{display: block;}
#bp-media-album-prompt div.hide{display: none;margin: 0;}
#bp-media-album-prompt > p{font-size: 20px;}
/*#bp-media-upload-ui .drag-drop-inside p,#bp-media-album-prompt #bp_media_album_new{font-size: 14px;margin: 0;}*/
#bp-media-album-prompt #bp_media_album_new{max-width: 90%;}
li #bp-media-album-prompt #bp_media_album_new{margin: 0;max-width: 134px;width: 94%;}
#bp-media-upload-ui .drag-drop-to{width: 22px;line-height: 22px;margin: 40px auto 0;float: left;}
li #bp-media-upload-ui .drag-drop-to{width: 100%;line-height: 22px;margin: 0;float: none;}
#bp-media-album-in, .albums #bp-media-album-or{background-color: #333333;border-radius: 11px 11px 11px 11px;color: #FFFFFF;display: block;float: left;font-size: 14px;line-height: 22px;margin: 30px auto;width: 22px;}
.albums #bp-media-album-or{float: none;margin: 20px auto;font-size: 14px;}
.upload #bp-media-album-or{font-size: 14px;}
li #bp-media-album-in, .albums li #bp-media-album-or{float: none;margin: 20px auto;}
#bp-media-album-prompt #create-new{background-color: #DF562C;color: #fff;}

#bp-media-uploaded-files{background: none repeat scroll 0 0 #DDDDDD;margin-top: 5px;width: 100%;}
li #bp-media-uploaded-files{left: 0;position: absolute;top: 155px;}
#bp-media-uploaded-files .error{padding: 5px;text-align: center;}
.bp-media-progressbar{height: 28px;margin: 6px 10px 0 0;line-height: 2em;padding: 0;overflow: hidden;margin-bottom: 2px;border: 1px solid #D1D1D1;background: white;background-image: linear-gradient(bottom,white 0,#F7F7F7 100%);background-image: -o-linear-gradient(bottom,white 0,#F7F7F7 100%);background-image: -moz-linear-gradient(bottom,white 0,#F7F7F7 100%);background-image: -webkit-linear-gradient(bottom,white 0,#F7F7F7 100%);background-image: -ms-linear-gradient(bottom,white 0,#F7F7F7 100%);-webkit-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1)}
.bp-media-progress-text{z-index: 10;position: relative;width: 100%;padding: 0 8px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);color: rgba(0, 0, 0, 0.6);font-size:16px;line-height: 28px;height: 28px;}
.bp-media-progress-completed{z-index: 9;width: 0;height: 35px;margin-top: -35px;background-color: #83B4D8;background-image: linear-gradient(bottom,#72A7CF 0,#90C5EE 100%);background-image: -o-linear-gradient(bottom,#72A7CF 0,#90C5EE 100%);background-image: -moz-linear-gradient(bottom,#72A7CF 0,#90C5EE 100%);background-image: -webkit-linear-gradient(bottom,#72A7CF 0,#90C5EE 100%);background-image: -ms-linear-gradient(bottom,#72A7CF 0,#90C5EE 100%);-webkit-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);}
.bpm-aligncenter{display: inline-block;text-align: center;width: 100%;}
#bp-media-premium-addons ul,#bp-media-premium-addons li{list-style:disc;margin-left:10px;}
.bp-media-single div.bp_media_content{text-align:center;}
.bp-media-single .bp_media_content .mejs-container{margin-left:auto;margin-right:auto;}

.bp-media-support .support_list{ margin-left: 25px}
.bp-media-support .support_list li{list-style: disc;margin-bottom: 10px}

.media-tabs-container .ui-tabs-panel{}
.media-tabs-container .ui-tabs-hide{display: none}

.media-tabs-container .ui-tabs-nav{clear: both;display: block;margin: 0 0 15px;overflow: hidden;}
.media-tabs-container .ui-state-default{border-left: 1px solid;float: left;line-height: 110%;padding: 0 5px;}
.media-tabs-container .ui-state-default:first-child{margin-left: 0px;border: 0; padding-left: 0}

.media-tabs-container .ui-state-default a{text-decoration: none}
.media-tabs-container .ui-state-default.ui-state-active a{text-decoration: underline}

.media-tabs-container .widget-item-listing li{margin-top: 10px;overflow: hidden;min-height: 52px}
.media-tabs-container .widget-item-listing li img{max-width:52px; margin-right: 10px; float: left; display: block }
.media-tabs-container .widget-item-listing li h3 {margin: 0}
.media-tabs-container .widget-item-listing li h3 a{font-size: 13px;font-weight: normal;word-wrap: break-word; }

.bp-media-actions{margin:20px 0;}
.bp-media-actions a{display:inline-block;}


#adminmenu li.toplevel_page_bp-media-settings .wp-menu-image a{background:url('../img/bpm-icon-16.png') center 1px no-repeat;}
#adminmenu li.toplevel_page_bp-media-settings:hover .wp-menu-image a,
#adminmenu li.current.toplevel_page_bp-media-settings .wp-menu-image a{background-position: center 1px;}
#adminmenu li.toplevel_page_bp-media-settings .wp-menu-image a img{display:none;}
#bp-media-settings-boxes{border:1px solid #CCC; overflow: hidden; padding: 10px; -webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px; float: left; width: 98%;}
.nav-tab-wrapper a#bp-media{background:url('../img/bpm-icon-32.png') transparent no-repeat; padding-left:32px;}
.nav-tab-wrapper a#bp-media:hover,.nav-tab-wrapper a#bp-media.nav-tab-active{background-position:left -32px;}
.metabox-holder .postbox#latest-news .inside ul li{background: transparent url('../img/rtCamp-bullet.png') left 4px no-repeat; padding-left: 26px;}
#branding #logo{text-align:center;padding: 10px 0;display:block;}
ul#social{display:block;text-align:center;margin:0;clear: both;}
#branding #mc-embedded-subscribe-form{float: left;width: 100%;}
#branding label{float: right;}
#branding #mc-embedded-subscribe{float: right;padding: 0 3px;}
#branding #mce-EMAIL{float: left;}
ul#social li{display:inline;}
#spread-the-word .inside{text-align: center;}
.wp-admin .button-tweet{background: #33ACE6; border-color: #3399DD #3399DD #2288CC;  color: #FFFFFF !important; text-shadow: -1px -1px 0 #3399DD;}
.wp-admin .button-tweet:hover{background: #3399DD;border-color: #2288CC;box-shadow: 0 0 4px rgba(82, 168, 236, 0.75);}
.wp-admin .button-rating{background: #8A8A8A; border-color: #222; color: #FFFFFF !important; text-shadow: -1px -1px 0 #444;}
.wp-admin .button-rating:hover{background: #7E7E7E;border-color: #444;box-shadow: 0 0 4px rgba(128,128,128, 0.75);}
#bp-media-show-more{width: 200px;margin-left: auto;margin-right: auto;display: block;height: 30px;line-height: 30px;font-size: 20px;}
#bp-media-upload-ui.activity-component{margin-left: 74px;margin-top: 10px;}
ul#activity-stream li.media.album_updated ul{}
ul#activity-stream li.media.album_updated ul li{float: left;margin-right:2%}


/* Addons page Styling */
#bp-media-addons-list_metabox {background: #ffffff}
.products ul:after, ul.products:after {clear: both;content: "";display: block;}
.products ul, ul.products {clear: both;list-style: none outside none;margin: 0 0 14px;padding: 0;}
.bp-media-addon {margin: 0;}
.bp-media-addon.first { }
.bp-media-addon {margin: 20px 10px 30px;padding: 5px;position: relative;border: 1px solid #ccc;}
.bp-media-addon h4 {background: none repeat scroll 0 0 transparent;border: 0 none;color: #006999;cursor: pointer;font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;font-size: 20px;font-weight: normal;line-height: 26px;margin: 0 0 10px;}
.bp-media-addon a {text-decoration: none;}
.bp-media-addon a img, div.product div.images img {box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);}
.bp-media-addon a img {display: block;height: auto;margin: 5px 15px 5px 5px;transition: all 0.2s ease-in-out 0s;float: left; width: 200px}

.bp-media-addon .price, .bp-media-addon .price .amount, .bp-media-addon .price ins {color: #85AD74;font-size: 25px;font-weight: bold;}
.bp-media-addon .price {line-height: 1.4em;color: #85AD74;display: block;font-weight: normal;margin-bottom: 0.5em;}
.coming-soon { background: url("../img/coming-soon.png"); z-index: 5; position:absolute;height:191px; opacity:0.9;}
.coming-soon.coming-soon-l { background-position: 0 0; width:250px; top:-12px; left:-18px;}
.coming-soon.coming-soon-r { background-position: 347px 0; width:174px; bottom:-14px; right:-12px;}
.coming-soon.coming-soon-r:hover{background-position: 175px 0;}
/*.bp-media-addon .add_to_cart_button{background-image: linear-gradient(bottom, #F7F6F7 47%, #DFDBDF 74%);
background-image: -o-linear-gradient(bottom, #F7F6F7 0%, #DFDBDF 100%);
background-image: -moz-linear-gradient(bottom, #F7F6F7 0%, #DFDBDF 100%);
background-image: -webkit-linear-gradient(bottom, #F7F6F7 0%, #DFDBDF 100%);
background-image: -ms-linear-gradient(bottom, #F7F6F7 0%, #DFDBDF 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #F7F6F7),color-stop(1, #DFDBDF));
border: 1px solid #C7C0C7;border-radius: 2px 2px 2px 2px;box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.075) inset, 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.1);color: #5E5E5E;cursor: pointer;font-family: inherit;font-size: 14px;font-weight: bold;float: right;left: auto;margin: 0;overflow: visible;padding: 6px 10px;position: relative;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;}

.bp-media-addon .add_to_cart_button:hover{background-image: linear-gradient(bottom, #F7F6F7 47%, #DFDBDF 74%);
background-image: -o-linear-gradient(bottom, #F7F6F7 0%, #D3CED3 100%);
background-image: -moz-linear-gradient(bottom, #F7F6F7 0%, #D3CED3 100%);
background-image: -webkit-linear-gradient(bottom, #F7F6F7 0%, #D3CED3 100%);
background-image: -ms-linear-gradient(bottom, #F7F6F7 0%, #D3CED3 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(1, #F7F6F7),color-stop(1, #D3CED3));}
*/
.bp-media-addon .product_footer{margin: 20px 0 0;overflow: hidden;}
.bp-media-addon .add_to_cart_button{background: #C45200; color: #FFFFFF;display: inline-block;font-size: 18px;font-weight: bold; line-height: 1.4em; margin: 0 20px; padding: 4px 15px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6)}
.bp-media-addon .product_footer .product_demo_link{font-size: 16px;margin: 8px 20px; font-weight: bold}

.bp-media-addon .add_to_cart_button:hover{background: none repeat scroll 0 0 #D75A00;
                                          box-shadow: 0 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.4) inset;
                                          color: #FFFFFF;}

/* Admin bar Menu  */
#wpadminbar .bp-media-settings-menu > .ab-item .ab-icon{background: url("../img/bpm-icon-16.png") no-repeat scroll -8px -7px transparent}
#wpadminbar .bp-media-settings-menu:hover .ab-icon{background-position: -8px -41px}

/* BuddyPress media admin support form styling */
.bp-media-updated, .bp-media-error{border-radius: 3px; padding: 0 7px; margin: 5px 0 15px; border: 1px solid}
.bp-media-updated p, .bp-media-error p{margin: 0.5em 0;padding: 2px;}
.bp-media-updated{background-color: #FFFFE0;border-color: #E6DB55;}
.bp-media-error{background-color: #FFEBE8;border-color: #CC0000;}
.bp-media-form li{margin-bottom: 10px}
.bp-media-form .bp-media-label{display: inline-block;margin-right: 10px;width: 150px;vertical-align: top; }
.bp-media-form .bp-media-input{background-color: #FFFFFF;border: 1px solid #DFDFDF;border-radius: 3px 3px 3px 3px;color: #333333;line-height: 16px;padding: 5px;width: 220px;}
.bp-media-form .bp-media-checkbox{margin-right: 10px; margin-left: 160px}
.bp-media-form .bp-media-textarea{background-color: #FFFFFF;border: 1px solid #DFDFDF;border-radius: 3px 3px 3px 3px;color: #333333;height: 175px;line-height: 16px;padding: 5px;width: 400px;}
.bp-media-form .bp-media-select{margin: 0;max-width: 400px;}
.bp-media-support-attachment label{float: left}
.bp-media-support-attachment .more-attachment{margin-left: 160px; margin-top: 10px}
.bp-media-support-attachment .more-attachment:first-child{margin-top: 0px}
.bp-media-support-attachment .add-more-attachment-btn{clear: both;display: inline-block;margin-left: 160px;margin-top: 10px;}
.template_select_label{float: left}
.template_select_container{overflow-x:scroll; width:405px;float: left}
#bp_media_settings_form .support_form_laoder{height: 100px; width: 200px; background:  url("../img/loader.gif") no-repeat }
/* Miscellinus */
#normal-sortables .postbox .bp-media-form .submit{float: none; margin-left: 150px}
.rt-success{background-color: #E1FFDF;border-color: #2ACF2A;}
.rt-update{background-color: #FFEAA6;border-color:#E1CA82;}
img.bp-media-donation-image{display:block;margin: 10px auto;}
#donate form{text-align: center;}

@media (min-width: 981px) and (max-width: 1096px) {
    li #bp-media-upload-ui #drag-drop-area{padding: 10px 0;}
/*    li #bp-media-upload-ui .drag-drop-inside{margin: 0 auto;}*/
    li #bp-media-album-in, .albums li #bp-media-album-or{margin: 15px auto;}
    li #bp-media-upload-ui .drag-drop-inside p.drag-drop-info{font-size: 17px;}
    li #bp-media-upload-ui .drag-drop-buttons input{padding: 3px 8px;}
    li #bp-media-uploaded-files{top: 130px}
    li #bp-media-upload-ui #bp-media-album-prompt{margin-top: 0;}
    li #bp-media-album-prompt input.button{padding: 3px;}
/*    .albums li #bp-media-upload-ui #drag-drop-area{padding: 10px 0 0;}*/
}
@media (max-width: 980px) {
    #item-body ul.bp-media-gallery li{width: 23%;}
    li #bp-media-upload-ui #drag-drop-area{min-height: auto;}
}
@media (min-width: 850px) and (max-width: 930px) {
    li #bp-media-album-in, .albums li #bp-media-album-or{margin: 15px auto;}
    li #bp-media-upload-ui .drag-drop-inside p.drag-drop-info{font-size: 17px;}
    li #bp-media-upload-ui .drag-drop-buttons input{padding: 3px 8px;}
}
@media (max-width: 850px) {
    #item-body ul.bp-media-gallery li{width: 31%;}
    #bp-media-upload-ui .drag-drop-inside{width: 47%;}
    #bp-media-upload-ui #bp-media-album-prompt{width: 46%;}
}
@media (min-width: 481px) and (max-width: 525px) {
    li #bp-media-album-in, .albums li #bp-media-album-or{margin: 15px auto;}
    li #bp-media-upload-ui .drag-drop-inside p.drag-drop-info{font-size: 17px;}
    li #bp-media-upload-ui .drag-drop-buttons input{padding: 3px 8px;}
}
@media (max-width: 480px) {
    #item-body ul.bp-media-gallery li{width: 48%;}
    li #bp-media-upload-ui{max-width: 170px;}
    ul.bp-media-gallery li img,li #bp-media-upload-ui #drag-drop-area{max-width: 170px;width: 100%;}
    li #bp-media-upload-ui #drag-drop-area{max-width: 162px;padding: 20px 0;}
    #bp-media-upload-ui .drag-drop-area{padding: 23px 0 10px;}
/*    li #bp-media-upload-ui .drag-drop-inside{margin: 0 auto 23px;}*/
}
@media (max-width: 379px) {
    #bp-media-upload-ui{min-height: 190px;}
    #item-body ul.bp-media-gallery li{width: 95%;}
    #bp-media-upload-ui .drag-drop-inside{float: none;width: 100%;}
    #bp-media-album-in{float: none;}
    #bp-media-upload-ui #bp-media-album-prompt{margin: 15px auto 15px;float: none;width: 100%}
    #bp-media-upload-ui .drag-drop-inside p,#bp-media-album-prompt #bp_media_album_new{margin-bottom: 5px;}
}
