/* line 1, ../sass/main.scss */
.rt-media-container {
  padding: 5px;
}
/* line 17, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container html, .rt-media-container body, .rt-media-container div, .rt-media-container span, .rt-media-container applet, .rt-media-container object, .rt-media-container iframe,
.rt-media-container h1, .rt-media-container h2, .rt-media-container h3, .rt-media-container h4, .rt-media-container h5, .rt-media-container h6, .rt-media-container p, .rt-media-container blockquote, .rt-media-container pre,
.rt-media-container a, .rt-media-container abbr, .rt-media-container acronym, .rt-media-container address, .rt-media-container big, .rt-media-container cite, .rt-media-container code,
.rt-media-container del, .rt-media-container dfn, .rt-media-container em, .rt-media-container img, .rt-media-container ins, .rt-media-container kbd, .rt-media-container q, .rt-media-container s, .rt-media-container samp,
.rt-media-container small, .rt-media-container strike, .rt-media-container strong, .rt-media-container sub, .rt-media-container sup, .rt-media-container tt, .rt-media-container var,
.rt-media-container b, .rt-media-container u, .rt-media-container i, .rt-media-container center,
.rt-media-container dl, .rt-media-container dt, .rt-media-container dd, .rt-media-container ol, .rt-media-container ul, .rt-media-container li,
.rt-media-container fieldset, .rt-media-container form, .rt-media-container label, .rt-media-container legend,
.rt-media-container table, .rt-media-container caption, .rt-media-container tbody, .rt-media-container tfoot, .rt-media-container thead, .rt-media-container tr, .rt-media-container th, .rt-media-container td,
.rt-media-container article, .rt-media-container aside, .rt-media-container canvas, .rt-media-container details, .rt-media-container embed,
.rt-media-container figure, .rt-media-container figcaption, .rt-media-container footer, .rt-media-container header, .rt-media-container hgroup,
.rt-media-container menu, .rt-media-container nav, .rt-media-container output, .rt-media-container ruby, .rt-media-container section, .rt-media-container summary,
.rt-media-container time, .rt-media-container mark, .rt-media-container audio, .rt-media-container video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container html {
  line-height: 1;
}
/* line 24, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container ol, .rt-media-container ul {
  list-style: none;
}
/* line 26, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container caption, .rt-media-container th, .rt-media-container td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container q, .rt-media-container blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container q:before, .rt-media-container q:after, .rt-media-container blockquote:before, .rt-media-container blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container a img {
  border: none;
}
/* line 116, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container article, .rt-media-container aside, .rt-media-container details, .rt-media-container figcaption, .rt-media-container figure, .rt-media-container footer, .rt-media-container header, .rt-media-container hgroup, .rt-media-container menu, .rt-media-container nav, .rt-media-container section, .rt-media-container summary {
  display: block;
}
/* line 6, ../sass/main.scss */
.rt-media-container #rtmedia-upload-container #drag-drop-area {
  border: 4px dashed #DDD;
  text-align: center;
  background: #fafafa;
  overflow: hidden;
  padding: 15px 0;
}
/* line 12, ../sass/main.scss */
.rt-media-container #rtmedia-upload-container #drag-drop-area.dragover {
  border-color: #83b4d8;
}
/* line 18, ../sass/main.scss */
.rt-media-container .rt-media-list {
  list-style: none;
  margin: 1% 1%;
}
/* line 23, ../sass/main.scss */
.rt-media-container .rt-media-list-item {
  display: inline-block;
  margin: 3% 3% 0;
  word-wrap: break-word;
}
/* line 29, ../sass/main.scss */
.rt-media-container .rt-media-media img {
  max-width: 100%;
}
/* line 33, ../sass/main.scss */
.rt-media-container .rt-media-item-thumbnail img {
  max-width: 100%;
}
/* line 37, ../sass/main.scss */
.rt-media-container .rt-media-item-comments {
  margin: 3% 3%;
}
/* line 41, ../sass/main.scss */
.rt-media-container .rt-media-comment {
  list-style: none;
  background: #f6f6f6;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 3% 0;
  padding: 1% 4% 8%;
  position: relative;
  width: 330px;
}
/* line 53, ../sass/main.scss */
.rt-media-container .rt-media-comment-date {
  float: right;
}
/* line 57, ../sass/main.scss */
.rt-media-container .rt-media-bp-header {
  width: 460px;
  margin: auto;
}
