/* line 1, ../sass/main.scss */
.rt-media-container {
  padding: 5px;
  /**
  * Legacy
  */
  /*
   *	Default stylesheet for BuddyPress Media
  */
  /*.metabox-holder .postbox#latest-news .inside ul li{background: transparent url('../img/bpm-icon-32.png') -5px 0px no-repeat; padding-left: 32px;}*/
  /*.metabox-holder .postbox#latest-news .inside ul li:hover{background-position-y: -96px;}*/
  /* Addons page Styling */
  /* Admin bar Menu  */
  /* BuddyPress media admin support form styling */
  /* Miscellaneous */
  /*Transcoding Teaser*/
  /*li.media div.activity-content div.activity-inner p{display:none;}*/
  /*#bp-media-upload-ui{position: relative;}*/
  /*.albums li #bp-media-upload-ui #drag-drop-area{padding: 20px 0 10px;}*/
  /*#bp-media-upload-ui .drag-drop-inside p,#bp-media-album-prompt #bp_media_album_new{font-size: 14px;margin: 0;}*/
  /* Privacy settings */
  /*.bp-media-ajax-single .bp-media-meta-content-wrap div.activity-meta a {
  padding: 0;
  float:left;
  }*/
}
/* line 17, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container html, .rt-media-container body, .rt-media-container div, .rt-media-container span, .rt-media-container applet, .rt-media-container object, .rt-media-container iframe,
.rt-media-container h1, .rt-media-container h2, .rt-media-container h3, .rt-media-container h4, .rt-media-container h5, .rt-media-container h6, .rt-media-container p, .rt-media-container blockquote, .rt-media-container pre,
.rt-media-container a, .rt-media-container abbr, .rt-media-container acronym, .rt-media-container address, .rt-media-container big, .rt-media-container cite, .rt-media-container code,
.rt-media-container del, .rt-media-container dfn, .rt-media-container em, .rt-media-container img, .rt-media-container ins, .rt-media-container kbd, .rt-media-container q, .rt-media-container s, .rt-media-container samp,
.rt-media-container small, .rt-media-container strike, .rt-media-container strong, .rt-media-container sub, .rt-media-container sup, .rt-media-container tt, .rt-media-container var,
.rt-media-container b, .rt-media-container u, .rt-media-container i, .rt-media-container center,
.rt-media-container dl, .rt-media-container dt, .rt-media-container dd, .rt-media-container ol, .rt-media-container ul, .rt-media-container li,
.rt-media-container fieldset, .rt-media-container form, .rt-media-container label, .rt-media-container legend,
.rt-media-container table, .rt-media-container caption, .rt-media-container tbody, .rt-media-container tfoot, .rt-media-container thead, .rt-media-container tr, .rt-media-container th, .rt-media-container td,
.rt-media-container article, .rt-media-container aside, .rt-media-container canvas, .rt-media-container details, .rt-media-container embed,
.rt-media-container figure, .rt-media-container figcaption, .rt-media-container footer, .rt-media-container header, .rt-media-container hgroup,
.rt-media-container menu, .rt-media-container nav, .rt-media-container output, .rt-media-container ruby, .rt-media-container section, .rt-media-container summary,
.rt-media-container time, .rt-media-container mark, .rt-media-container audio, .rt-media-container video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* line 22, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container html {
  line-height: 1;
}
/* line 24, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container ol, .rt-media-container ul {
  list-style: none;
}
/* line 26, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 28, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container caption, .rt-media-container th, .rt-media-container td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
/* line 30, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container q, .rt-media-container blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container q:before, .rt-media-container q:after, .rt-media-container blockquote:before, .rt-media-container blockquote:after {
  content: "";
  content: none;
}
/* line 32, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container a img {
  border: none;
}
/* line 116, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
.rt-media-container article, .rt-media-container aside, .rt-media-container details, .rt-media-container figcaption, .rt-media-container figure, .rt-media-container footer, .rt-media-container header, .rt-media-container hgroup, .rt-media-container menu, .rt-media-container nav, .rt-media-container section, .rt-media-container summary {
  display: block;
}
/* line 13, ../sass/main.scss */
.rt-media-container #wpbody-content div.wrap.bp-media-admin .columns-2 {
  margin-right: 320px;
  padding-top: 0;
  margin-top: 15px;
  width: 620px;
}
/* line 14, ../sass/main.scss */
.rt-media-container #wpbody-content .bp-media-settings-tabs {
  margin-bottom: 0;
}
/* line 15, ../sass/main.scss */
.rt-media-container #wpbody-content .bp-media-settings-tabs .media-nav-tab {
  margin: 0 10px;
  text-decoration: underline;
  text-transform: capitalize;
}
/* line 16, ../sass/main.scss */
.rt-media-container #wpbody-content .bp-media-settings-tabs .media-nav-tab.media-nav-tab-active {
  font-weight: bold;
}
/* line 18, ../sass/main.scss */
.rt-media-container #wpbody-content .wrap div.bp-media-metabox-holder {
  padding-top: 0;
  margin-top: 10px;
}
/* line 19, ../sass/main.scss */
.rt-media-container .bp-media-social {
  background: url("../img/bp_media_social.png");
  height: 35px;
  width: 35px;
  display: inline-block;
  font-size: 0px;
  margin-right: 5px;
}
/* line 20, ../sass/main.scss */
.rt-media-container .bp-media-facebook {
  background-position: 0px 0px;
}
/* line 21, ../sass/main.scss */
.rt-media-container .bp-media-facebook:hover {
  background-position: 0px 36px;
}
/* line 22, ../sass/main.scss */
.rt-media-container .bp-media-twitter {
  background-position: 80px 0px;
}
/* line 23, ../sass/main.scss */
.rt-media-container .bp-media-twitter:hover {
  background-position: 80px 36px;
}
/* line 24, ../sass/main.scss */
.rt-media-container .bp-media-rss {
  font-size: 14px;
}
/* line 25, ../sass/main.scss */
.rt-media-container .bp-media-support .support_list {
  margin-left: 25px;
}
/* line 26, ../sass/main.scss */
.rt-media-container .bp-media-support .support_list li {
  list-style: disc;
  margin-bottom: 10px;
}
/* line 28, ../sass/main.scss */
.rt-media-container div#icon-buddypress-media {
  background: url("../img/bpm-icon-32.png");
  background-position-y: 35px;
}
/* line 30, ../sass/main.scss */
.rt-media-container #adminmenu li.toplevel_page_bp-media-settings .wp-menu-image a {
  background: url("../img/bpm-icon-16.png") center 1px no-repeat;
}
/* line 32, ../sass/main.scss */
.rt-media-container #adminmenu li.toplevel_page_bp-media-settings:hover .wp-menu-image a,
.rt-media-container #adminmenu li.current.toplevel_page_bp-media-settings .wp-menu-image a {
  background-position: center 1px;
}
/* line 33, ../sass/main.scss */
.rt-media-container #adminmenu li.toplevel_page_bp-media-settings .wp-menu-image a img {
  display: none;
}
/* line 34, ../sass/main.scss */
.rt-media-container #bp-media-settings-boxes {
  margin: 10px;
}
/* line 35, ../sass/main.scss */
.rt-media-container #debug-info {
  clear: left;
  border: none;
  overflow: hidden;
  padding: 10px;
  margin: 10px 0 20px 0;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 36, ../sass/main.scss */
.rt-media-container #debug-info th, .rt-media-container #debug-info td {
  border: 1px #e5e5e5 solid;
  border-left: none;
  border-right: none;
}
/* line 37, ../sass/main.scss */
.rt-media-container .nav-tab-wrapper a#bp-media {
  background: url("../img/bpm-icon-32.png") transparent no-repeat;
  padding-left: 32px;
}
/* line 38, ../sass/main.scss */
.rt-media-container .nav-tab-wrapper a#bp-media:hover, .rt-media-container .nav-tab-wrapper a#bp-media.nav-tab-active {
  background-position: left -96px;
}
/* line 39, ../sass/main.scss */
.rt-media-container .metabox-holder .postbox#latest-news .inside ul li {
  list-style: disc inside;
}
/* line 42, ../sass/main.scss */
.rt-media-container #branding {
  min-height: 25px;
}
/* line 43, ../sass/main.scss */
.rt-media-container #branding .inside {
  min-height: 25px;
}
/* line 44, ../sass/main.scss */
.rt-media-container #branding #logo {
  text-align: center;
  padding: 10px 0;
  display: block;
}
/* line 45, ../sass/main.scss */
.rt-media-container #social {
  display: block;
  margin: 0;
  clear: both;
}
/* line 46, ../sass/main.scss */
.rt-media-container #branding #mc-embedded-subscribe-form {
  float: left;
  width: 100%;
}
/* line 47, ../sass/main.scss */
.rt-media-container #branding label {
  float: right;
}
/* line 48, ../sass/main.scss */
.rt-media-container #branding #mc-embedded-subscribe {
  float: right;
  padding: 0 3px;
}
/* line 49, ../sass/main.scss */
.rt-media-container #branding #mce-EMAIL {
  float: left;
}
/* line 50, ../sass/main.scss */
.rt-media-container #social .row .large-6 {
  display: inline;
  vertical-align: middle;
  padding: 0;
  text-align: center;
}
/* line 51, ../sass/main.scss */
.rt-media-container #spread-the-word .button {
  display: inline-block;
  margin: 5px 0px;
}
/* line 52, ../sass/main.scss */
.rt-media-container #spread-the-word label {
  display: block;
}
/* line 54, ../sass/main.scss */
.rt-media-container #spread-the-word .button-tweet, .rt-media-container #bpmedia-bpalbumimporter .button-import-tweet {
  background: #33ACE6;
  border-color: #3399DD #3399DD #2288CC;
  color: #FFFFFF !important;
  text-shadow: -1px -1px 0 #3399DD;
}
/* line 55, ../sass/main.scss */
.rt-media-container #spread-the-word .button-tweet:hover, .rt-media-container #bpmedia-bpalbumimporter .button-import-tweet:hover {
  background: #3399DD;
  border-color: #2288CC;
  box-shadow: 0 0 4px rgba(82, 168, 236, 0.75);
}
/* line 56, ../sass/main.scss */
.rt-media-container #spread-the-word .button-rating {
  background: #8A8A8A;
  border-color: #222;
  color: #FFFFFF !important;
  text-shadow: -1px -1px 0 #444;
}
/* line 57, ../sass/main.scss */
.rt-media-container #spread-the-word .button-rating:hover {
  background: #7E7E7E;
  border-color: #444;
  box-shadow: 0 0 4px rgba(128, 128, 128, 0.75);
}
/* line 58, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab {
  padding-left: 20px;
  background: url("../img/tab-icon.png") 3px -4px no-repeat;
}
/* line 59, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.addons {
  background-position-y: -34px;
}
/* line 60, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.support {
  background-position-y: -64px;
}
/* line 61, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.update-database {
  background-position-y: -94px;
}
/* line 62, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.ffmpeg {
  background-position-y: -154px;
}
/* line 63, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.kaltura {
  background-position-y: -184px;
}
/* line 64, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.convert-videos {
  background-position-y: -214px;
}
/* line 65, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.insta {
  background-position-y: -244px;
}
/* line 66, ../sass/main.scss */
.rt-media-container .wrap.bp-media-admin .bp-media-settings-tabs a.nav-tab.watermark {
  background-position-y: -274px;
}
/* line 68, ../sass/main.scss */
.rt-media-container #bpm-unsubscribe-dialog {
  display: none;
}
/* line 69, ../sass/main.scss */
.rt-media-container #bpm-unsubscribe-dialog p {
  margin: 10px;
}
/* line 71, ../sass/main.scss */
.rt-media-container table.bp-media-encoding-table td, .rt-media-container table.bp-media-encoding-table th {
  border-left-color: #fff;
  border-right-color: #dfdfdf;
  border-width: 1px;
  vertical-align: middle;
  text-align: center;
  font-family: sans-serif;
}
/* line 79, ../sass/main.scss */
.rt-media-container table.bp-media-encoding-table th {
  font-weight: bold;
}
/* line 85, ../sass/main.scss */
.rt-media-container a.toplevel_page_bp-media-settings div.wp-menu-image {
  background: url("../img/admin-menu.png") 0 -32px no-repeat;
}
/* line 89, ../sass/main.scss */
.rt-media-container #rt-donate-button, .rt-media-container .rt-link img {
  vertical-align: middle;
}
/* line 90, ../sass/main.scss */
.rt-media-container #adminmenu .menu-icon-generic.toplevel_page_bp-media-settings div.wp-menu-image {
  background-position: 0 -32px;
}
/* line 94, ../sass/main.scss */
.rt-media-container #adminmenu .menu-icon-generic.wp-has-current-submenu.toplevel_page_bp-media-settings div.wp-menu-image,
.rt-media-container #adminmenu .menu-icon-generic.toplevel_page_bp-media-settings:hover div.wp-menu-image {
  background-position-y: 0;
}
/* line 98, ../sass/main.scss */
.rt-media-container #bp-media-addons-list_metabox {
  background: #ffffff;
}
/* line 99, ../sass/main.scss */
.rt-media-container .products ul:after, .rt-media-container ul.products:after {
  clear: both;
  content: "";
  display: block;
}
/* line 100, ../sass/main.scss */
.rt-media-container .products ul, .rt-media-container ul.products {
  clear: both;
  list-style: none outside none;
  margin: 0 0 14px;
  padding: 0;
}
/* line 101, ../sass/main.scss */
.rt-media-container .bp-media-addon {
  margin: 0;
}
/* line 103, ../sass/main.scss */
.rt-media-container .bp-media-addon {
  margin: 20px 10px 30px;
  padding: 5px;
  position: relative;
  border: 1px solid #ccc;
}
/* line 104, ../sass/main.scss */
.rt-media-container .bp-media-addon h4 {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  color: #006999;
  cursor: pointer;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 0 10px;
}
/* line 105, ../sass/main.scss */
.rt-media-container .bp-media-addon a {
  text-decoration: none;
}
/* line 106, ../sass/main.scss */
.rt-media-container .bp-media-addon a img, .rt-media-container div.product div.images img {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
}
/* line 107, ../sass/main.scss */
.rt-media-container .bp-media-addon a img {
  display: block;
  height: auto;
  margin: 5px 15px 5px 5px;
  transition: all 0.2s ease-in-out 0s;
  float: left;
  width: 200px;
}
/* line 109, ../sass/main.scss */
.rt-media-container .bp-media-addon .price, .rt-media-container .bp-media-addon .price .amount, .rt-media-container .bp-media-addon .price ins {
  color: #85AD74;
  font-size: 25px;
  font-weight: bold;
}
/* line 110, ../sass/main.scss */
.rt-media-container .bp-media-addon .price {
  line-height: 1.4em;
  color: #85AD74;
  display: block;
  font-weight: normal;
  margin-bottom: 0.5em;
}
/* line 111, ../sass/main.scss */
.rt-media-container .coming-soon {
  background: url("../img/coming-soon.png");
  z-index: 5;
  position: absolute;
  height: 191px;
  opacity: 0.9;
}
/* line 112, ../sass/main.scss */
.rt-media-container .coming-soon.coming-soon-l {
  background-position: 0 0;
  width: 250px;
  top: -12px;
  left: -18px;
}
/* line 113, ../sass/main.scss */
.rt-media-container .coming-soon.coming-soon-r {
  background-position: 347px 0;
  width: 174px;
  bottom: -14px;
  right: -12px;
}
/* line 114, ../sass/main.scss */
.rt-media-container .coming-soon.coming-soon-r:hover {
  background-position: 175px 0;
}
/* line 116, ../sass/main.scss */
.rt-media-container .bp-media-addon .product_footer {
  margin: 20px 0 0;
  overflow: hidden;
}
/* line 117, ../sass/main.scss */
.rt-media-container .bp-media-addon .add_to_cart_button {
  background: #C45200;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4em;
  margin: 0 20px;
  padding: 4px 15px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}
/* line 118, ../sass/main.scss */
.rt-media-container .bp-media-addon .product_footer .product_demo_link {
  font-size: 16px;
  margin: 8px 20px;
  font-weight: bold;
}
/* line 120, ../sass/main.scss */
.rt-media-container .bp-media-addon .add_to_cart_button:hover {
  background: none repeat scroll 0 0 #D75A00;
  box-shadow: 0 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.4) inset;
  color: #FFFFFF;
}
/* line 124, ../sass/main.scss */
.rt-media-container div.i-accept {
  background-color: #dff0d8 !important;
}
/* line 125, ../sass/main.scss */
.rt-media-container div.bp-album-import-accept {
  padding: 1px 2px;
  margin-bottom: 15px;
}
/* line 126, ../sass/main.scss */
.rt-media-container .bp-album-importer-wizard {
  display: none;
  margin-top: 15px;
}
/* line 127, ../sass/main.scss */
.rt-media-container #setting-error-bp-album-importer {
  line-height: 1.8em;
}
/* line 128, ../sass/main.scss */
.rt-media-container .wp-core-ui .btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 145, ../sass/main.scss */
.rt-media-container #item-body a.btn-danger {
  padding: 4px 10px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
/* line 168, ../sass/main.scss */
.rt-media-container #item-body a.btn-danger:hover,
.rt-media-container #item-body a.btn-danger:focus,
.rt-media-container #item-body a.btn-danger:active,
.rt-media-container #item-body a.btn-danger.active,
.rt-media-container #item-body a.btn-danger.disabled,
.rt-media-container #item-body a.btn-danger[disabled] {
  color: #ffffff;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background: #bd362f;
  *background: #a9302a;
}
/* line 177, ../sass/main.scss */
.rt-media-container #item-body a.btn-danger:active,
.rt-media-container #item-body a.btn-danger.active {
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background: #942a25 \9;
}
/* line 189, ../sass/main.scss */
.rt-media-container .wp-core-ui .btn-warning:hover,
.rt-media-container .wp-core-ui .btn-warning:focus,
.rt-media-container .wp-core-ui .btn-warning:active,
.rt-media-container .wp-core-ui .btn-warning.active,
.rt-media-container .wp-core-ui .btn-warning.disabled,
.rt-media-container .wp-core-ui .btn-warning[disabled] {
  color: #ffffff;
  background: #f89406;
  background-color: #f89406;
  *background: #df8505;
  *background-color: #df8505;
}
/* line 198, ../sass/main.scss */
.rt-media-container #wpadminbar .bp-media-settings-menu > .ab-item .ab-icon {
  background: url("../img/bpm-icon-16.png") no-repeat scroll -8px -7px transparent;
}
/* line 199, ../sass/main.scss */
.rt-media-container #wpadminbar .bp-media-settings-menu:hover .ab-icon {
  background-position: -8px -41px;
}
/* line 202, ../sass/main.scss */
.rt-media-container .bp-media-updated, .rt-media-container .bp-media-error {
  border-radius: 3px;
  padding: 0 7px;
  margin: 5px 0 15px;
  border: 1px solid;
}
/* line 203, ../sass/main.scss */
.rt-media-container .bp-media-updated p, .rt-media-container .bp-media-error p {
  margin: 0.5em 0;
  padding: 2px;
}
/* line 204, ../sass/main.scss */
.rt-media-container .bp-media-updated {
  background-color: #FFFFE0;
  border-color: #E6DB55;
}
/* line 205, ../sass/main.scss */
.rt-media-container .bp-media-error {
  background-color: #FFEBE8;
  border-color: #CC0000;
}
/* line 206, ../sass/main.scss */
.rt-media-container .bp-media-form li {
  margin-bottom: 10px;
}
/* line 207, ../sass/main.scss */
.rt-media-container .bp-media-form .bp-media-label {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  vertical-align: top;
}
/* line 208, ../sass/main.scss */
.rt-media-container .bp-media-form .bp-media-input {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  line-height: 16px;
  padding: 5px;
  width: 220px;
}
/* line 209, ../sass/main.scss */
.rt-media-container .bp-media-form .bp-media-checkbox {
  margin-right: 10px;
  margin-left: 160px;
}
/* line 210, ../sass/main.scss */
.rt-media-container .bp-media-form .bp-media-textarea {
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  height: 175px;
  line-height: 16px;
  padding: 5px;
  width: 400px;
}
/* line 211, ../sass/main.scss */
.rt-media-container .bp-media-form .bp-media-select {
  margin: 0;
  max-width: 400px;
}
/* line 212, ../sass/main.scss */
.rt-media-container .bp-media-support-attachment label {
  float: left;
}
/* line 213, ../sass/main.scss */
.rt-media-container .bp-media-support-attachment .more-attachment {
  margin-left: 160px;
  margin-top: 10px;
}
/* line 214, ../sass/main.scss */
.rt-media-container .bp-media-support-attachment .more-attachment:first-child {
  margin-top: 0px;
}
/* line 215, ../sass/main.scss */
.rt-media-container .bp-media-support-attachment .add-more-attachment-btn {
  clear: both;
  display: inline-block;
  margin-left: 160px;
  margin-top: 10px;
}
/* line 216, ../sass/main.scss */
.rt-media-container .template_select_label {
  float: left;
}
/* line 217, ../sass/main.scss */
.rt-media-container .template_select_container {
  overflow-x: scroll;
  width: 405px;
  float: left;
}
/* line 218, ../sass/main.scss */
.rt-media-container #bp_media_settings_form .support_form_loader {
  height: 100px;
  width: 200px;
  background: url("../img/loader.gif") no-repeat;
}
/* line 220, ../sass/main.scss */
.rt-media-container #normal-sortables .postbox .bp-media-form .submit {
  float: none;
  margin-left: 150px;
}
/* line 221, ../sass/main.scss */
.rt-media-container .rt-success {
  background-color: #E1FFDF;
  border-color: #2ACF2A;
}
/* line 222, ../sass/main.scss */
.rt-media-container .rt-update {
  background-color: #FFEAA6;
  border-color: #E1CA82;
}
/* line 223, ../sass/main.scss */
.rt-media-container img.bp-media-donation-image {
  display: block;
  margin: 10px auto;
}
/* line 224, ../sass/main.scss */
.rt-media-container #donate form {
  text-align: center;
}
/* line 226, ../sass/main.scss */
.rt-media-container .para-blockquote {
  background: #E5E5E5;
  padding: 10px;
  font-style: italic;
}
/* line 227, ../sass/main.scss */
.rt-media-container #latest-update img, .rt-media-container #members-list .update img, .rt-media-container #members-list .update {
  display: block;
  overflow: hidden;
}
/* line 230, ../sass/main.scss */
.rt-media-container .encoding-used,
.rt-media-container .encoding-remaining {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 231, ../sass/main.scss */
.rt-media-container .encoding-used {
  background: #fb6003;
}
/* line 232, ../sass/main.scss */
.rt-media-container .encoding-remaining {
  background: #444;
}
/* line 234, ../sass/main.scss */
.rt-media-container .bp_media_content img {
  max-width: 100%;
}
/* line 235, ../sass/main.scss */
.rt-media-container .bp_media_content .mejs-poster img {
  max-width: 100%;
}
/* line 236, ../sass/main.scss */
.rt-media-container .media .album-edit {
  display: inline;
}
/* line 237, ../sass/main.scss */
.rt-media-container .media #item-body h3 {
  float: left;
}
/* line 238, ../sass/main.scss */
.rt-media-container .media #item-body .bp-media-gallery h3 {
  float: none;
}
/* line 239, ../sass/main.scss */
.rt-media-container .media .bp-media-album-actions {
  float: left;
  margin-left: 15px;
}
/* line 240, ../sass/main.scss */
.rt-media-container .media .bulk-move, .rt-media-container .media .bulk-delete {
  display: none;
}
/* line 241, ../sass/main.scss */
.rt-media-container .bp-media-list h3 {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
/* line 242, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery {
  overflow: hidden;
}
/* line 243, ../sass/main.scss */
.rt-media-container .bp_media_description {
  display: block;
  margin-top: 20px;
}
/* line 244, ../sass/main.scss */
.rt-media-container #bp-media-upload-form, .rt-media-container #message, .rt-media-container .bp-media-action-wrapper, .rt-media-container #bp-media-user-privacy {
  clear: left;
}
/* line 245, ../sass/main.scss */
.rt-media-container .bp-media-album-action-ui {
  display: none;
}
/* line 246, ../sass/main.scss */
.rt-media-container .bp-media-album-description {
  clear: left;
  font-size: 1.2em;
}
/* line 247, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery.item-list {
  clear: left;
  overflow: visible;
  margin: 1% 0;
  width: auto;
}
/* line 248, ../sass/main.scss */
.rt-media-container #item-body ul.bp-media-gallery li {
  float: left;
  margin: 1% 1% 0;
  width: 18%;
  border-bottom: none;
  padding: 0;
  position: static;
  height: auto;
  display: block;
}
/* line 249, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery li img {
  max-width: 150px;
  width: 100%;
  height: auto;
  -moz-box-shadow: 1px 1px 10px #a0a0a0;
  -webkit-box-shadow: 1px 1px 10px #a0a0a0;
  box-shadow: 1px 1px 10px #a0a0a0;
  -moz-transition: box-shadow 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
}
/* line 250, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery li img:hover {
  -moz-box-shadow: 1px 1px 10px #333;
  -webkit-box-shadow: 1px 1px 10px #333;
  box-shadow: 1px 1px 10px #333;
}
/* line 251, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery h3 {
  max-width: 150px;
  overflow: hidden;
  text-align: center;
  font-size: 110%;
  white-space: nowrap;
  height: 20px;
  margin: 10px 0px;
}
/* line 252, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery a {
  width: 150px;
}
/* line 253, ../sass/main.scss */
.rt-media-container ul.bp-media-gallery li span img {
  height: 150px;
}
/* line 254, ../sass/main.scss */
.rt-media-container .bp-media-single .activity-list .activity-content, .rt-media-container .bp-media-single div.activity-comments {
  margin-left: 0;
}
/* line 255, ../sass/main.scss */
.rt-media-container #bp-media-selected-album {
  max-width: 320px;
}
/* line 257, ../sass/main.scss */
.rt-media-container .bp-media-list h3 {
  margin-bottom: 10px;
}
/* line 258, ../sass/main.scss */
.rt-media-container #bp-media-footer {
  color: #4D4D4D;
  text-align: center;
  text-shadow: #FAFAFA 1px 1px 0;
}
/* line 260, ../sass/main.scss */
.rt-media-container #item-body:after, .rt-media-container ul.bp-media-gallery.item-list:after {
  content: " ";
  clear: both;
  display: block;
  text-indent: -9999em;
}
/* line 261, ../sass/main.scss */
.rt-media-container #item-body {
  position: relative;
}
/* line 264, ../sass/main.scss */
.rt-media-container .bp-media-ajax-spinner {
  display: none;
  vertical-align: -3px;
}
/* line 265, ../sass/main.scss */
.rt-media-container #bp-media-activity-upload-ui {
  width: 50%;
}
/* line 266, ../sass/main.scss */
.rt-media-container .bp-media-area-allocate {
  height: 10px;
  width: 100%;
  display: block;
}
/* line 267, ../sass/main.scss */
.rt-media-container li #bp-media-upload-ui {
  padding: 0;
  max-width: 158px;
  position: relative;
}
/* line 268, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui {
  margin-top: 10px;
  clear: left;
}
/* line 269, ../sass/main.scss */
.rt-media-container #upload-container .drag-drop {
  border: 4px dashed #DDD;
  text-align: center;
  background: #fafafa;
  overflow: hidden;
  padding: 15px 0;
}
/* line 270, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui.hover #drag-drop-area {
  border-color: #83b4d8;
}
/* line 271, ../sass/main.scss */
.rt-media-container li #bp-media-upload-ui #drag-drop-area {
  max-width: 150px;
  min-height: auto;
}
/* line 273, ../sass/main.scss */
.rt-media-container #upload-container .drag-drop-inside {
  float: left;
  width: 48%;
}
/* line 274, ../sass/main.scss */
.rt-media-container .albums #bp-media-upload-ui .drag-drop-inside {
  float: none;
  width: auto;
}
/* line 275, ../sass/main.scss */
.rt-media-container li #bp-media-upload-ui .drag-drop-inside, .rt-media-container li #bp-media-upload-ui #bp-media-album-prompt {
  float: none;
  max-width: 100%;
  width: auto;
}
/* line 276, ../sass/main.scss */
.rt-media-container li #bp-media-upload-ui #bp-media-album-prompt {
  margin: 8px auto 0;
  max-width: 144px;
}
/* line 277, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui #bp-media-album-prompt {
  float: left;
  width: 47%;
}
/* line 278, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui .drag-drop-info {
  font-size: 16px;
}
/* line 279, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui .drag-drop-inside p.drag-drop-info {
  font-size: 20px;
  line-height: 100%;
}
/* line 280, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui .drag-drop-buttons input, .rt-media-container #bp-media-album-prompt input.button {
  -moz-box-sizing: content-box;
  border-color: #BBBBBB;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  color: #464646;
  cursor: pointer;
  font-size: 13px !important;
  line-height: 13px;
  padding: 5px 10px;
  text-decoration: none;
}
/* line 281, ../sass/main.scss */
.rt-media-container li #bp-media-album-prompt input.button {
  font-size: 12px !important;
  padding: 3px 8px;
  text-decoration: none;
  margin-top: 5px;
}
/* line 282, ../sass/main.scss */
.rt-media-container #bp-media-selected-album {
  max-width: 140px;
  font-size: 14px;
  width: 100%;
}
/* line 283, ../sass/main.scss */
.rt-media-container li #bp-media-album-prompt > p, .rt-media-container li #bp-media-upload-ui #drag-drop-area p {
  display: none;
}
/* line 284, ../sass/main.scss */
.rt-media-container .albums li #bp-media-album-prompt > p, .rt-media-container .albums li #bp-media-upload-ui #drag-drop-area p {
  display: block;
}
/* line 285, ../sass/main.scss */
.rt-media-container li #bp-media-upload-ui #drag-drop-area p.drag-drop-buttons {
  display: block;
}
/* line 286, ../sass/main.scss */
.rt-media-container #bp-media-album-prompt div.hide {
  display: none;
  margin: 0;
}
/* line 287, ../sass/main.scss */
.rt-media-container #bp-media-album-prompt > span {
  font-size: 16px;
}
/* line 288, ../sass/main.scss */
.rt-media-container .bp-media-album-content {
  display: inline;
}
/* line 290, ../sass/main.scss */
.rt-media-container #bp-media-album-prompt #bp_media_album_new {
  max-width: 90%;
}
/* line 291, ../sass/main.scss */
.rt-media-container li #bp-media-album-prompt #bp_media_album_new {
  margin: 0;
  max-width: 134px;
  width: 94%;
}
/* line 292, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui .drag-drop-to {
  width: 22px;
  line-height: 22px;
  margin: 40px auto 0;
  float: left;
}
/* line 293, ../sass/main.scss */
.rt-media-container li #bp-media-upload-ui .drag-drop-to {
  width: 100%;
  line-height: 22px;
  margin: 0;
  float: none;
}
/* line 294, ../sass/main.scss */
.rt-media-container #bp-media-album-in {
  background-color: #333333;
  border-radius: 11px 11px 11px 11px;
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 14px;
  line-height: 22px;
  width: 22px;
}
/* line 295, ../sass/main.scss */
.rt-media-container .upload #bp-media-album-or {
  font-size: 14px;
}
/* line 296, ../sass/main.scss */
.rt-media-container li #bp-media-album-in, .rt-media-container .albums li #bp-media-album-or {
  float: none;
  margin: 20px auto;
}
/* line 297, ../sass/main.scss */
.rt-media-container #bp-media-album-prompt #create-new {
  background-color: #DF562C;
  color: #fff;
}
/* line 299, ../sass/main.scss */
.rt-media-container #bp-media-uploaded-files {
  background: none repeat scroll 0 0 #DDDDDD;
  margin-top: 5px;
  width: 100%;
}
/* line 300, ../sass/main.scss */
.rt-media-container li #bp-media-uploaded-files {
  left: 0;
  position: absolute;
  top: 155px;
}
/* line 301, ../sass/main.scss */
.rt-media-container #bp-media-uploaded-files .error {
  padding: 5px;
  text-align: center;
}
/* line 302, ../sass/main.scss */
.rt-media-container .bp-media-progressbar {
  height: 28px;
  margin: 6px 10px 0 0;
  line-height: 2em;
  padding: 0;
  overflow: hidden;
  margin-bottom: 2px;
  border: 1px solid #D1D1D1;
  background: white;
  background-image: linear-gradient(bottom, #ffffff 0%, #f7f7f7 100%);
  background-image: -o-linear-gradient(bottom, white 0, #f7f7f7 100%);
  background-image: -moz-linear-gradient(bottom, white 0, #f7f7f7 100%);
  background-image: -webkit-linear-gradient(bottom, white 0, #f7f7f7 100%);
  background-image: -ms-linear-gradient(bottom, white 0, #f7f7f7 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
}
/* line 303, ../sass/main.scss */
.rt-media-container .bp-media-progress-text {
  z-index: 10;
  position: relative;
  width: 100%;
  padding: 0 8px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 28px;
  height: 28px;
}
/* line 304, ../sass/main.scss */
.rt-media-container .bp-media-progress-completed {
  z-index: 9;
  width: 0;
  height: 35px;
  margin-top: -35px;
  background-color: #83B4D8;
  background-image: linear-gradient(bottom, #72a7cf 0%, #90c5ee 100%);
  background-image: -o-linear-gradient(bottom, #72a7cf 0, #90c5ee 100%);
  background-image: -moz-linear-gradient(bottom, #72a7cf 0, #90c5ee 100%);
  background-image: -webkit-linear-gradient(bottom, #72a7cf 0, #90c5ee 100%);
  background-image: -ms-linear-gradient(bottom, #72a7cf 0, #90c5ee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
/* line 305, ../sass/main.scss */
.rt-media-container .bpm-aligncenter {
  display: inline-block;
  text-align: center;
  width: 100%;
}
/* line 306, ../sass/main.scss */
.rt-media-container #bp-media-premium-addons ul, .rt-media-container #bp-media-premium-addons li {
  list-style: disc;
  margin-left: 10px;
}
/* line 307, ../sass/main.scss */
.rt-media-container .bp-media-single div.bp_media_content {
  text-align: center;
  width: auto;
  margin: 0 auto;
  position: relative;
  clear: both;
}
/* line 310, ../sass/main.scss */
.rt-media-container .bp-media-single .bp_media_content .mejs-container {
  margin-left: auto;
  margin-right: auto;
}
/* line 312, ../sass/main.scss */
.rt-media-container .bp-media-actions {
  margin: 20px 0;
}
/* line 313, ../sass/main.scss */
.rt-media-container .bp-media-actions a {
  display: inline-block;
}
/* line 316, ../sass/main.scss */
.rt-media-container .media-tabs-container .ui-tabs-hide {
  display: none;
}
/* line 318, ../sass/main.scss */
.rt-media-container .media-tabs-container .ui-tabs-nav {
  clear: both;
  display: block;
  margin: 0 0 15px;
  overflow: hidden;
}
/* line 319, ../sass/main.scss */
.rt-media-container .media-tabs-container .ui-state-default {
  border-left: 1px solid;
  float: left;
  line-height: 110%;
  padding: 0 5px;
  list-style: none;
}
/* line 320, ../sass/main.scss */
.rt-media-container .media-tabs-container .ui-state-default:first-child {
  margin-left: 0px;
  border: 0;
  padding-left: 0;
}
/* line 322, ../sass/main.scss */
.rt-media-container .media-tabs-container .ui-state-default a {
  text-decoration: none;
}
/* line 323, ../sass/main.scss */
.rt-media-container .media-tabs-container .ui-state-default.ui-state-active a {
  text-decoration: underline;
}
/* line 325, ../sass/main.scss */
.rt-media-container .media-tabs-container .widget-item-listing li {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
  min-height: 52px;
  float: left;
  width: 50%;
}
/* line 326, ../sass/main.scss */
.rt-media-container .media-tabs-container .widget-item-listing li img {
  max-width: 90%;
  margin: 0 auto;
  float: left;
  display: block;
}
/* line 327, ../sass/main.scss */
.rt-media-container .media-tabs-container .widget-item-listing li h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  display: none;
  background: #fff none;
  width: 100%;
  text-align: center;
}
/* line 328, ../sass/main.scss */
.rt-media-container .media-tabs-container .widget-item-listing li:hover h3 {
  display: block;
}
/* line 329, ../sass/main.scss */
.rt-media-container .media-tabs-container .widget-item-listing li h3 a {
  font-size: 13px;
  font-weight: normal;
  word-wrap: break-word;
}
/* line 331, ../sass/main.scss */
.rt-media-container #bp-media-show-more {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}
/* line 332, ../sass/main.scss */
.rt-media-container #bp-media-show-more-sc {
  display: block;
  margin: 0 auto;
}
/* line 333, ../sass/main.scss */
.rt-media-container #bp-media-upload-ui.activity-component {
  margin-left: 74px;
  margin-top: 10px;
}
/* line 335, ../sass/main.scss */
.rt-media-container ul#activity-stream li.media.album_updated ul li, .rt-media-container ul.bp-media-list-media li {
  float: left;
  margin-right: 2%;
}
/* line 338, ../sass/main.scss */
.rt-media-container body.media {
  overflow: auto;
}
/* line 339, ../sass/main.scss */
.rt-media-container .media ul#bp-media-upload-set-privacy li input[type="radio"] {
  float: left;
}
/* line 341, ../sass/main.scss */
.rt-media-container #bp-media-upload-set-privacy li {
  margin: 10px 0;
  overflow: hidden;
}
/* line 343, ../sass/main.scss */
.rt-media-container #bp-media-upload-set-privacy .album-set-privacy-label {
  margin: 0;
  font-weight: normal;
}
/* line 345, ../sass/main.scss */
.rt-media-container .bp-media-single .delete-activity-single, .rt-media-container .bp-media-single .delete-activity {
  color: #ff0000;
  font-weight: bold;
}
/* line 349, ../sass/main.scss */
.rt-media-container .simplemodal-overlay {
  background: #333 none;
  z-index: 100000;
}
/* line 353, ../sass/main.scss */
.rt-media-container .simplemodal-container {
  background: #fff none;
}
/* line 356, ../sass/main.scss */
.rt-media-container .bp-media-mod-title {
  display: none;
}
/* line 360, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single {
  padding: 0;
}
/* line 363, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .lightbox-spinner {
  height: 24px;
  width: 24px;
  background: url("../img/boxspinner.gif") center center;
  left: 50%;
  top: 50%;
  position: absolute;
}
/* line 371, ../sass/main.scss */
.rt-media-container .simplemodal-container .simplemodal-close {
  background: url("../img/bp-media-modal.png") right bottom no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
/* line 381, ../sass/main.scss */
.rt-media-container .simplemodal-container .simplemodal-close:hover {
  background-position: right top;
}
/* line 384, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-ctrl {
  position: absolute;
  height: 100%;
  height: 100px;
  width: 100px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
}
/* line 393, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-ctrl:hover {
  background: #232323 none;
}
/* line 396, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-ctrl span.img-icon {
  display: block;
  height: 22px;
  width: 22px;
  margin: 39px auto 39px 10px;
  background: url("../img/bp-media-modal.png") left bottom no-repeat;
}
/* line 404, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-next span.img-icon {
  background-position: center bottom;
  margin: 39px 10px 39px auto;
}
/* line 408, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-prev:hover span.img-icon {
  background-position: left top;
}
/* line 411, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-next:hover span.img-icon {
  background-position: center top;
}
/* line 415, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-prev:hover,
.rt-media-container .simplemodal-container a.modal-next:hover {
  background: url("../img/") no-repeat;
}
/* line 418, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-prev {
  left: 0px;
}
/* line 421, ../sass/main.scss */
.rt-media-container .simplemodal-container a.modal-next {
  right: 0px;
}
/* line 425, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-mod-title {
  display: block;
  margin-top: 22px;
}
/* line 429, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-mod-title h2 {
  margin: 5px 0;
  padding: 0;
}
/* line 433, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-mod-title p {
  line-height: 1.4em;
}
/* line 438, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp_media_content img,
.rt-media-container .bp-media-ajax-single .bp_media_content video,
.rt-media-container .bp-media-ajax-single .bp_media_content audio {
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  background: #fff none;
  max-height: 600px;
}
/* line 446, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp_media_author {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 452, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-content-wrap,
.rt-media-container .bp-media-ajax-single .bp_media_content {
  float: left;
  width: auto;
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 480px;
  min-width: 640px;
  background: #333 none;
  display: table;
}
/* line 464, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp_media_content {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
/* line 469, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-content-wrap .bp_media_description {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 475, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-meta-content-wrap {
  float: left;
  width: 250px;
  margin: 0;
  min-height: 480px;
  margin-left: 10px;
  overflow: auto;
}
/* line 483, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-meta-content-wrap .activity-meta {
  margin: 0;
}
/* line 486, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-meta-content-wrap .activity-meta a {
  padding: 2px 8px;
  margin: 5px 5px 0 0;
  display: inline-block;
}
/* line 491, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-meta-content-wrap div.activity-comments ul li > ul {
  margin-left: 0;
  padding-left: 0;
}
/* line 495, ../sass/main.scss */
.rt-media-container .bp-media-ajax-single .bp-media-meta-content-wrap div.activity-comments form div.ac-reply-content {
  margin-left: 0;
  padding-left: 0;
}
/* line 503, ../sass/main.scss */
.rt-media-container .bp-media-ajax-preloader {
  display: none;
}
/* line 507, ../sass/main.scss */
.rt-media-container #adminmenu li#toplevel_page_bp-media-settings a.toplevel_page_bp-media-settings {
  font-size: 12px;
}
@media (min-width: 981px) and (max-width: 1096px) {
  /* line 1, ../sass/main.scss */
  .rt-media-container {
    /*    li #bp-media-upload-ui .drag-drop-inside{margin: 0 auto;}*/
    /*    .albums li #bp-media-upload-ui #drag-drop-area{padding: 10px 0 0;}*/
  }
  /* line 510, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui #drag-drop-area {
    padding: 10px 0;
  }
  /* line 512, ../sass/main.scss */
  .rt-media-container li #bp-media-album-in, .rt-media-container .albums li #bp-media-album-or {
    margin: 15px auto;
  }
  /* line 513, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui .drag-drop-inside p.drag-drop-info {
    font-size: 17px;
  }
  /* line 514, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui .drag-drop-buttons input {
    padding: 3px 8px;
  }
  /* line 515, ../sass/main.scss */
  .rt-media-container li #bp-media-uploaded-files {
    top: 130px;
  }
  /* line 516, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui #bp-media-album-prompt {
    margin-top: 0;
  }
  /* line 517, ../sass/main.scss */
  .rt-media-container li #bp-media-album-prompt input.button {
    padding: 3px;
  }
}
@media (max-width: 980px) {
  /* line 521, ../sass/main.scss */
  .rt-media-container #item-body ul.bp-media-gallery li {
    width: 23%;
  }
  /* line 522, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui #drag-drop-area {
    min-height: auto;
  }
}
@media (min-width: 850px) and (max-width: 930px) {
  /* line 525, ../sass/main.scss */
  .rt-media-container li #bp-media-album-in, .rt-media-container .albums li #bp-media-album-or {
    margin: 15px auto;
  }
  /* line 526, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui .drag-drop-inside p.drag-drop-info {
    font-size: 17px;
  }
  /* line 527, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui .drag-drop-buttons input {
    padding: 3px 8px;
  }
}
@media (max-width: 850px) {
  /* line 530, ../sass/main.scss */
  .rt-media-container #item-body ul.bp-media-gallery li {
    width: 31%;
  }
  /* line 531, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui .drag-drop-inside {
    width: 47%;
  }
  /* line 532, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui #bp-media-album-prompt {
    width: 46%;
  }
}
@media (min-width: 481px) and (max-width: 525px) {
  /* line 535, ../sass/main.scss */
  .rt-media-container li #bp-media-album-in, .rt-media-container .albums li #bp-media-album-or {
    margin: 15px auto;
  }
  /* line 536, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui .drag-drop-inside p.drag-drop-info {
    font-size: 17px;
  }
  /* line 537, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui .drag-drop-buttons input {
    padding: 3px 8px;
  }
}
@media (max-width: 480px) {
  /* line 1, ../sass/main.scss */
  .rt-media-container {
    /*    li #bp-media-upload-ui .drag-drop-inside{margin: 0 auto 23px;}*/
  }
  /* line 540, ../sass/main.scss */
  .rt-media-container #item-body ul.bp-media-gallery li {
    width: 48%;
  }
  /* line 541, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui {
    max-width: 170px;
  }
  /* line 542, ../sass/main.scss */
  .rt-media-container ul.bp-media-gallery li img, .rt-media-container li #bp-media-upload-ui #drag-drop-area {
    max-width: 170px;
    width: 100%;
  }
  /* line 543, ../sass/main.scss */
  .rt-media-container li #bp-media-upload-ui #drag-drop-area {
    max-width: 162px;
    padding: 20px 0;
  }
  /* line 544, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui .drag-drop-area {
    padding: 23px 0 10px;
  }
}
@media (max-width: 379px) {
  /* line 548, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui {
    min-height: 190px;
  }
  /* line 549, ../sass/main.scss */
  .rt-media-container #item-body ul.bp-media-gallery li {
    width: 95%;
  }
  /* line 550, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui .drag-drop-inside {
    float: none;
    width: 100%;
  }
  /* line 551, ../sass/main.scss */
  .rt-media-container #bp-media-album-in {
    float: none;
  }
  /* line 552, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui #bp-media-album-prompt {
    margin: 15px auto 15px;
    float: none;
    width: 100%;
  }
  /* line 553, ../sass/main.scss */
  .rt-media-container #bp-media-upload-ui .drag-drop-inside p, .rt-media-container #bp-media-album-prompt #bp_media_album_new {
    margin-bottom: 5px;
  }
}
/* line 559, ../sass/main.scss */
.rt-media-container #rtmedia-upload-container .drag-drop {
  border: 4px dashed #DDD;
  text-align: center;
  background: #fafafa;
  overflow: hidden;
  padding: 15px 0;
}
/* line 565, ../sass/main.scss */
.rt-media-container #rtmedia-upload-container .drag-drop:hover {
  border-color: #83b4d8;
}
/* line 571, ../sass/main.scss */
.rt-media-container .rt-media-list {
  list-style: none;
  margin: 1% 1%;
}
/* line 576, ../sass/main.scss */
.rt-media-container .rt-media-list-item {
  display: inline-block;
  margin: 3% 3% 0;
  word-wrap: break-word;
}
/* line 582, ../sass/main.scss */
.rt-media-container .rt-media-media img {
  max-width: 100%;
}
/* line 586, ../sass/main.scss */
.rt-media-container .rt-media-item-thumbnail img {
  max-width: 100%;
}
/* line 590, ../sass/main.scss */
.rt-media-container .rt-media-item-comments {
  margin: 3% 3%;
}
/* line 594, ../sass/main.scss */
.rt-media-container .rt-media-comment {
  list-style: none;
  background: #f6f6f6;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 3% 0;
  padding: 1% 4% 8%;
  position: relative;
  width: 330px;
}
/* line 606, ../sass/main.scss */
.rt-media-container .rt-media-comment-date {
  float: right;
}
/* line 610, ../sass/main.scss */
.rt-media-container .rt-media-bp-header {
  width: 460px;
  margin: auto;
}
