.rtmedia-uploader .rtmedia-upload-terms {
  display: block;
}
.rtmedia-uploader .rtmedia-upload-terms #rtmedia_upload_terms_conditions,
.rtmedia-uploader .rtmedia-upload-terms label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  cursor: pointer;
  float: none;
}
