.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clear-both {
  clear: both;
}

.clear-none {
  clear: none;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.rtm-inline-block {
  display: inline-block;
}

.rtm-text-left {
  text-align: left;
}

.rtm-text-right {
  text-align: right;
}

.rtm-text-center {
  text-align: center;
}

.rtm-border-0 {
  border: 0 !important;
}

.hide {
  display: none;
}

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.rtp-row-container {
  padding-top: 10px;
}

.rtm-settings-tab-container .tabs-content {
  background: #FFFFFF;
  border-left: 1px solid #e7e7e7;
  margin-left: 202px;
  min-height: 300px;
  padding: 20px 30px;
}

.rtm-setting-container {
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-top: 10px;
  overflow: hidden;
  float: left;
  width: 78.2%;
}

.rtm-sidebar {
  float: right;
  width: 20%;
}
.rtm-sidebar .postbox {
  background: rgba(255, 255, 255, 0.8);
  min-width: auto;
}

.rtm-tabs {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 300px;
  width: 202px;
}

.rtm-button-container {
  background: #f3f3f3;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 1px 0 #fcfcfc inset;
  padding: 6px 10px 6px 6px;
  text-align: right;
}
.rtm-button-container.bottom {
  background: #EEEEEE;
  border-top: 1px solid #e7e7e7;
  box-shadow: 0 0 0;
  z-index: 999;
}

#mce-EMAIL {
  width: 100%;
}

#mc-embedded-subscribe {
  display: block;
  margin: 10px auto 0;
  width: 100%;
}

.rtm-social-links a {
  display: inline-block;
  margin: 5px 0 5px 5px;
  text-decoration: none;
}

.nav-tab.rtm-premium {
  background: #e74c3c;
  color: white;
  letter-spacing: 0.5px;
}

.rtm-setting-title {
  border-bottom: 1px solid #e7e7e7;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 25px;
}

.rtp-option-content {
  overflow: hidden;
}
.rtp-option-content:last-child {
  border-bottom: 0;
}
.rtp-option-content .form-table th {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  padding-right: 30px;
  width: 50%;
}
.rtp-option-content .form-table th span {
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
}

.rtm-option-title {
  border-bottom: 1px solid #EEEEEE;
  font-size: 14px;
  letter-spacing: 0.02rem;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0 0 10px;
  text-transform: uppercase;
}

.rtm-social-share .button {
  display: block;
  opacity: 0.8;
  position: relative;
  text-decoration: none;
}
.rtm-social-share .dashicons {
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 4px;
}
.rtm-social-share .twitter .dashicons {
  color: #45b0e3;
}
.rtm-social-share .facebook .dashicons {
  color: #3b5998;
}
.rtm-social-share .wordpress .dashicons {
  color: #21759b;
}
.rtm-social-share .rss .dashicons {
  color: #FF6600;
}

.rtm-tabs li {
  margin: 0;
}
.rtm-tabs a {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #f9f9f9;
  color: #666666;
  display: block;
  font-weight: 700;
  outline: none;
  opacity: 0.75;
  padding: 10px 4px 10px 14px;
  position: relative;
  text-decoration: none;
}
.rtm-tabs a:hover {
  background: #EEEEEE;
  color: #269ad6;
  margin-right: 0;
  opacity: 1;
  width: auto;
}
.rtm-tabs a:focus {
  background: #FFFFFF;
  box-shadow: 0 0 0;
}
.rtm-tabs .active {
  background: white;
  position: relative;
}
.rtm-tabs .active:after {
  background: #FFFFFF;
  content: ' ';
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}
.rtm-tabs .active a {
  color: #222222;
  opacity: 1;
}
.rtm-tabs span {
  display: block;
  padding: 0 0 0 25px;
}
.rtm-tabs .dashicons {
  font-size: 14px;
  height: auto;
  line-height: 1;
  margin-top: 4px;
  position: absolute;
  vertical-align: middle;
  width: auto;
}

/* Main block */
.rtm-switch-options {
  float: left;
  /* Main block clearfix */
  /* Options */
}
.rtm-switch-options:before, .rtm-switch-options:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.rtm-switch-options:after {
  clear: both;
}
.rtm-switch-options span {
  display: inline-block;
  float: left;
  padding: 3px 10px;
  margin: 0;
  color: #333;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #ccc;
  text-transform: uppercase;
  background-color: #f5f5f5;
}
.rtm-switch-options span:first-of-type {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.rtm-switch-options span:last-of-type {
  border-radius: 0 2px 2px 0;
  border-left: 0;
}
.rtm-switch-options input[type=checkbox] {
  display: none;
}

.switch_enable.selected {
  background-color: #2a95c5;
  border-color: #2a95c5;
  color: #FFFFFF;
}

.switch_disable.selected {
  background-color: #999;
  border-color: #999;
  color: #FFFFFF;
}
