.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clear-both {
  clear: both;
}

.clear-none {
  clear: none;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.rtm-inline-block {
  display: inline-block;
}

.rtm-text-left {
  text-align: left;
}

.rtm-text-right {
  text-align: right;
}

.rtm-text-center {
  text-align: center;
}

.rtm-border-0 {
  border: 0 !important;
}

.hide {
  display: none;
}

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.rtm-settings-tab-container .tabs-content {
  background: #FFFFFF;
  border-left: 1px solid #e7e7e7;
  margin-left: 202px;
  min-height: 300px;
  padding: 20px;
}

.rtm-setting-container {
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-top: 20px;
  overflow: hidden;
}

.rtm-tabs {
  float: left;
  list-style: none;
  margin: 0;
  min-height: 300px;
  width: 202px;
}

.rtm-button-container {
  background: #f3f3f3;
  border-bottom: 1px solid #dedede;
  box-shadow: 0 1px 0 #fcfcfc inset;
  padding: 6px 10px 6px 6px;
  text-align: right;
}
.rtm-button-container.bottom {
  background: #EEEEEE;
  border-top: 1px solid #e7e7e7;
  box-shadow: 0 0 0;
  text-align: left;
  z-index: 999;
}

.rtm-social-links a {
  display: inline-block;
  margin: 5px 0 5px 5px;
  text-decoration: none;
}

.nav-tab.rtm-premium {
  background: none repeat scroll 0 0 #34bf49;
  color: white;
  letter-spacing: 0.5px;
}

.rtm-setting-title {
  border-bottom: 1px solid #e7e7e7;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 25px;
}

.rtp-option-content {
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
}
.rtp-option-content:last-child {
  border-bottom: 0;
}
.rtp-option-content .form-table th {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  padding-right: 30px;
  width: 32%;
}
.rtp-option-content .form-table th span {
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-top: 7px;
}

.rtm-option-title {
  background: #f9f9f9;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 10px;
}

.rtm-tabs li {
  margin: 0;
}
.rtm-tabs a {
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #f9f9f9;
  color: #666666;
  display: block;
  font-weight: 700;
  outline: none;
  opacity: 0.75;
  padding: 10px 4px 10px 14px;
  position: relative;
  text-decoration: none;
}
.rtm-tabs a:hover {
  background: #EEEEEE;
  color: #269ad6;
  margin-right: 0;
  opacity: 1;
  width: auto;
}
.rtm-tabs a:focus {
  background: #FFFFFF;
  box-shadow: 0 0 0;
}
.rtm-tabs .active {
  background: white;
  position: relative;
}
.rtm-tabs .active:after {
  background: #FFFFFF;
  content: ' ';
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}
.rtm-tabs .active a {
  color: #222222;
  opacity: 1;
}
.rtm-tabs span {
  display: block;
  padding: 0 0 0 25px;
}
.rtm-tabs .dashicons {
  height: auto;
  margin-top: 4px;
  position: absolute;
  vertical-align: middle;
  width: auto;
}

/* Main block */
.rtm-switch-options {
  display: block;
  margin-bottom: 10px;
  /* Main block clearfix */
  /* Options */
}
.rtm-switch-options:before, .rtm-switch-options:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.rtm-switch-options:after {
  clear: both;
}
.rtm-switch-options span {
  display: inline-block;
  float: left;
  padding: 5px 10px;
  margin: 0;
  color: #333;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #ccc;
  text-transform: uppercase;
  background-color: #f5f5f5 !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f5f5f5)) !important;
  background-image: -moz-linear-gradient(top, #f8f8f8, #f5f5f5) !important;
  background-image: -ms-linear-gradient(top, #f8f8f8, #f5f5f5) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #f5f5f5)) !important;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f5f5f5) !important;
  background-image: -o-linear-gradient(top, #f8f8f8, #f5f5f5) !important;
  background-image: linear-gradient(top, #f8f8f8, #f5f5f5) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f5f5f5', GradientType=0) !important;
}
.rtm-switch-options span:first-of-type {
  border-radius: 2px 0 0 2px;
  border-right: 0;
}
.rtm-switch-options span:last-of-type {
  border-radius: 0 2px 2px 0;
  border-left: 0;
}
.rtm-switch-options span:hover {
  background: #fafafa;
}
.rtm-switch-options input[type=checkbox] {
  display: none;
}

.switch_enable.selected {
  background-color: #0074a2 !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#008ec6), to(#0074a2)) !important;
  background-image: -moz-linear-gradient(top, #008ec6, #0074a2) !important;
  background-image: -ms-linear-gradient(top, #008ec6, #0074a2) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008ec6), color-stop(100%, #0074a2)) !important;
  background-image: -webkit-linear-gradient(top, #008ec6, #0074a2) !important;
  background-image: -o-linear-gradient(top, #008ec6, #0074a2) !important;
  background-image: linear-gradient(top, #008ec6, #0074a2) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008ec6', endColorstr='#0074a2', GradientType=0) !important;
  border-color: #003d55 !important;
  border-color: #004f6f !important;
  -webkit-box-shadow: inset 0 1px 0 #00abef, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 1px 0 #00abef, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  color: #FFFFFF;
}

.switch_disable.selected {
  background-color: #646464 !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#767676), to(#646464)) !important;
  background-image: -moz-linear-gradient(top, #767676, #646464) !important;
  background-image: -ms-linear-gradient(top, #767676, #646464) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #767676), color-stop(100%, #646464)) !important;
  background-image: -webkit-linear-gradient(top, #767676, #646464) !important;
  background-image: -o-linear-gradient(top, #767676, #646464) !important;
  background-image: linear-gradient(top, #767676, #646464) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#767676', endColorstr='#646464', GradientType=0) !important;
  border-color: #3e3e3e !important;
  border-color: #4b4b4b !important;
  -webkit-box-shadow: inset 0 1px 0 #8a8a8a, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  box-shadow: inset 0 1px 0 #8a8a8a, 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  color: #FFFFFF;
}
